<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>天津时时彩号码走势图</title>
<meta name="keywords" content="天津时时彩开奖视频, 天津时时彩开奖号码, 天津时时彩技巧，天津时时彩计划软件">
<meta name="description" content="天津时时彩路珠分析频道专门为天津时时彩的玩家提供专业的天津时时彩路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/common/header.html">
</head>
<body id="page-top" style="min-width: 1200px;">
<nav id="mainNav" class="navbar navbar-default">
<#include "/common/nav.html">
</nav>
<div class="lobby-head">
<div class="container">
<div class="row">
<div class="content">
<#include "/common/menu.html">
<#include "/tjssc/kaijiang.html">
<div class="lottery-tips" id="j-lottery-tips" style='display: none'>
<i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
</div>
<div class="pay-show" data-pay="Icp_Pc_Lottery_Top" data-m="advertisement">
</div>
<div class="lottery-list">
<a class="item " href="/tjssc">天津时时彩</a>
<a class="item " href="/tjssc/kaijiang">历史开奖号码</a>
<a class="item " href="/tjssc/shipin">开奖视频</a>
<a class="item " href="/tjssc/zonghe">综合路珠分析</a>
<a class="item " href="/tjssc/yilou">号码遗漏统计</a>
<a class="item " href="/tjssc/haomaluzhu">号码路珠</a>
<a class="item " href="/tjssc/longhuluzhu">龍虎路珠</a>
<a class="item " href="/tjssc/shuangmianluzhu">单双大小路珠</a>
<a class="item " href="/tjssc/zongheluzhu">总和路珠</a>
<a class="item " href="/tjssc/shuangmian">单双大小历史</a>
<a class="item " href="/tjssc/haomatongji">历史号码统计</a>
<a class="item " href="/tjssc/touzhu">两面投注参考</a>
<a class="item active" href="/tjssc/zoushitu">横版走势图</a>
<a class="item " href="/tjssc/shuangmianzoushitu">单双大小走势图</a>
<a class="item " href="/tjssc/jiqiao">天津时时彩技巧</a>
</div>
</div>
</div>
</div>
</div>

<div v-cloak id="divContainer">
<div class="container lobby-chart" style="height: auto;">
    <div class="row">
        <div class="chart-content col-lg-12" id="j-chart-container">
            <div class="chart-btn" id="j-chart"></div>
               <div style="display: flex;">
                    <div @click="getData(index)"
                    v-for="(item,index) in num" 
                    :class="{'btn-spe': true, 'btn-other': index === flag}">
                        <p>{{item}}</p>
                    </div>
              </div>
              <div id="container" style="margin-top: 30px; width: inherit;  height:260px;"></div>
        </div>
    </div>
</div>
</div>

<style type="text/css">
.highcharts-legend {
    display: none !important;
}
.highcharts-credits {
    display: none !important;
}
.btn-spe {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    margin-right: 9px;
    cursor: pointer;
}
.btn-other {
    background: #d94136;
    border: 1px solid #d94136 !important;
    color: #fff !important;
}
.btn-spe p {
    font-size: 15px;
    line-height: 26px;
    color: inherit;
}
</style>
<script type="text/javascript">
    var vm = new Vue({
        el: '#divContainer',
        data: {
            num: ['第一球', '第二球', '第三球', '第四球', '第五球'],
            flag: 0,
        },
        methods: {
            getData: function (index) {
                if(index === undefined) {
                    index = 0
                }
                this.flag = index;
                SULX.get(apitjssc.tjssc_zst,function(std,data) {
                    var result = JSON.parse(data).data;         
                    var test1 = result['num'+(index+1)];
                    
                    //对数据进行排序
                    var keyArr = [];
                    for(key in test1){
                    	keyArr.push(key);
                    }
                    keyArr.sort(function(a,b){
                    	return a - b;
                    });
                    
                    var timer = [];
                    var chartData = [];
                    for(i in keyArr) {
                    	var j = keyArr[i];
	                    timer.push(j.substr(j.length-2,2)); //截取key生成期数
	                    chartData.push(Number(test1[j])); //数据必须是number
                    }

                    var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'spline',
                        // width: '1400'
                        height: 275,
                    },
                    title: {
                        text: '天津时时彩横板走势图', //tubiao biaoti
                        align: 'left'
                    },
                    xAxis: {
                        categories: timer
                    },
                    yAxis: {
                        title: '',
                        tickPositions: [0, 5, 10]  //y轴数据
                        // categories: [0,150,200]
                    },
                    tooltip: {
                        useHTML: true,
                        headerFormat: '<span style=";">{point.key}期:{point.y}</span>',
                        backgroundColor: '#666',   // 背景颜色
                        // borderColor: 'black',         // 边框颜色
                        borderRadius: 10,             // 边框圆角
                        borderWidth: 0,
                        display: 'flex', 
                        shadow: false,                 
                        animation: false,      
                        pointFormatter: function() {
                        return '<span style=" color: #fff;>期<span>';
                        },
                        style: {  
                            width: '70px',
                            height: '30px',   
                                    // 文字内容相关样式
                            color: "rgba(255,255,255,0.8)",
                            fontSize: "12px",
                            fontWeight: "blod",
                            fontFamily: "Courir new"
                        }
                    },
                    plotOptions: {
                        spline: {
                            dataLabels: {
                                // 开启数据标签
                                // color: '#666',
                                crop: false,
                                overflow: 'none',
                                verticalAlign: 'bottom',
                                enabled: true          
                            },
                            // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                            enableMouseTracking: true
                        }
                    },
                    series: [
                        {
                        name: '',
                        color: '#5073a3',
                        data: chartData
                        }
                    ]
                    
                    });                    
                });
                }
        },
        created: function() {
            this.$options.methods.getData(0);
        },
    });
</script>
<#include "/common/foot.html">
</body>
</html>