<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>新疆时时彩，时时彩开奖直播，时时彩开奖号码，新疆时时彩技巧，计划软件 - 开奖直播</title>
<meta name="keywords" content="新疆时时彩开奖视频, 新疆时时彩开奖号码, 新疆时时彩技巧，新疆时时彩计划软件">
<meta name="description" content="新疆时时彩平台为您提供新疆时时彩开奖号码、时时彩开奖记录、开奖结果等资讯，并为您提供最新时时彩预测，分析，推荐。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">

</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">

<div class="container-fluid main">
<div class="row">
<#include "/wap/xjssc/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top"></div>
<#include "/wap/xjssc/rightmenu.html">
<div class="menu-title">
单双大小路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.开奖结果为单数时，则“单”中奖，开奖结果为双数时，则“双”中奖，开奖结果为0-4时，则“小”中奖，开奖结果为5-9时，则“大”中奖。</li>
</ul>
</div>
</div>
<div id="divContainer" v-cloak>
<div class="j-records">
<div class="container lobby-record t_1 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num1-da"]}}） 小（{{dxlz["num1-xiao"]}}） </span></span>
第一球大小
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dxlz['num1']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
 <a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num1-dan"]}}） 双（{{dslz["num1-shuang"]}}） </span></span>
第一球单双
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dslz['num1']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_2 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_2_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num2-da"]}}） 小（{{dxlz["num2-xiao"]}}） </span></span>
第二球大小
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
 <table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dxlz['num2']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_2 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody><tr style="background: #fff;">
<td>
<a id="stat_2_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num2-dan"]}}） 双（{{dslz["num2-shuang"]}}） </span></span>
第二球单双
</td>
</tr>
</tbody></table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dslz['num2']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_3 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_3_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num3-da"]}}） 小（{{dxlz["num3-xiao"]}}） </span></span>
第三球大小
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dxlz['num3']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_3 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_3_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num3-dan"]}}） 双（{{dslz["num3-shuang"]}}） </span></span>
第三球单双
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dslz['num3']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_4 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_4_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num4-da"]}}） 小（{{dxlz["num4-xiao"]}}） </span></span>
第四球大小
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dxlz['num4']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_4 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_4_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num4-dan"]}}） 双（{{dslz["num4-shuang"]}}） </span></span>
第四球单双
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dslz['num4']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_5 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_5_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num5-da"]}}） 小（{{dxlz["num5-xiao"]}}） </span></span>
第五球大小
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dxlz['num5']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="container lobby-record t_5 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<a id="stat_5_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num5-dan"]}}） 双（{{dslz["num4-shuang"]}}） </span></span>
第五球单双
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item in dslz['num5']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>

</div>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el:'#divContainer',
		data:{
			dslz:{},
			dxlz:{},
			qiushuList:["一","二","三","四","五"],
		},
		methods:{
			getData: function(){
				//单双露珠
				SULX.get(apixjssc.xjssc_dslz,function(std,data) {
	                    vm.dslz = JSON.parse(data).data;			
	                }
	            );
				//大小露珠
				SULX.get(apixjssc.xjssc_dxlz,function(std,data) {
	                    vm.dxlz = JSON.parse(data).data;		
	                }
	            );
			}
		},
		created:function(){
			this.getData();
		}	
	});
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>