<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>江西时时彩，时时彩开奖直播，时时彩开奖号码，江西时时彩技巧，计划软件</title>
<meta name="keywords" content="江西时时彩开奖视频, 江西时时彩开奖号码, 江西时时彩技巧，江西时时彩计划软件">
<meta name="description" content="江西时时彩平台为您提供江西时时彩开奖号码、时时彩开奖记录、开奖结果等资讯，并为您提供最新时时彩预测，分析，推荐。">
<#include "/common/header.html">
 <style>
        .highcharts-legend {
            display: none !important;
        }
        .highcharts-credits {
            display: none !important;
        }
        .btn-spe {
            width: 90px;
            height: 30px;
            border-radius: 4px;
            border: 1px solid #ccc;
            color: #000;
            text-align: center;
            margin-right: 9px;
            cursor: pointer;
        }
        .btn-other {
            background: #d94136;
            border: 1px solid #d94136 !important;
            color: #fff !important;
        }
        .btn-spe p {
            font-size: 15px;
            line-height: 26px;
            color: inherit;
        }
        .lobby-chart .go-live img.play {
            top: 70px !important;
            left: 0px !important;
        }
        .lobby-chart .head a {
		    float: right;
		    font-size: 14px;
		    color: #999;
		    font-weight: normal;
		}
</style>
</head>
<body id="page-top" style="min-width: 1200px;">
	<nav id="mainNav" class="navbar navbar-default">
		<#include "/common/nav.html">
	</nav>
	<div class="lobby-head">
		<div class="container">
			<div class="row">
				<div class="content">
				<#include "/common/menu.html">
			    <#include "/jx11x5/kaijiang.html">
					<div class="lottery-tips" id="j-lottery-tips" style="display: none">
						<i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span
							class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a
							href="javascript:location.reload();">手动刷新</a>
					</div>
					<div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
						data-m="advertisement">
					</div>
					<div class="lottery-list">
						<a class="item active" href="/jx11x5">江西11选5</a> <a class="item"
							href="/jx11x5/kaijiang">历史开奖号码</a> <a class="item"
							href="/jx11x5/shipin">开奖视频</a> <a class="item"
							href="/jx11x5/zonghe">综合路珠分析</a> <a class="item"
							href="/jx11x5/yilou">号码遗漏统计</a> <a class="item"
							href="/jx11x5/haomaluzhu">号码路珠</a> <a class="item"
							href="/jx11x5/longhuluzhu">龍虎路珠</a> <a class="item"
							href="/jx11x5/shuangmianluzhu">单双大小路珠</a> <a class="item"
							href="/jx11x5/zongheluzhu">总和路珠</a> <a class="item"
							href="/jx11x5/shuangmian">单双大小历史</a> <a class="item"
							href="/jx11x5/haomatongji">历史号码统计</a> <a class="item"
							href="/jx11x5/touzhu">两面投注参考</a> <a class="item"
							href="/jx11x5/zoushitu">横版走势图</a> <a class="item" 
							href="/jx11x5/danshuangdaxiaozoushitu">单双大小走势图</a> <a class="item"
							href="/jx11x5/jiqiao">江西11选5技巧</a>
					</div>
				</div>
			</div>
		</div>
	</div>
						<div id="divContainer" >
								<div style="height: 347px;" class="container lobby-chart">
										<div class="row" id="j-chart-container">
											<div class="col-xs-8">
												<div class="head">
												<div class="chart-btn" id="j-chart">
													<a href="/zoushitu/jx11x5/" style="float: right">查看全部走势图>></a>
												</div>
												</div>
												<div class="chart">
													<div style="display: flex;">
															<div 
															@click="draw(index)"
															v-for="(item,index) in num" 
															:class="{'btn-spe': true, 'btn-other': index === flag}">
																<p>{{item}}</p>
															</div>
														</div>
														<div id="container" style="margin-top: 30px; width: inherit;  height:200px;"></div>
												</div>
											</div>
											<div class="col-xs-4 text-center">
									              <a href="/jx11x5/shipin/" class="go-live">    
									                  <img src="/static/assets/dist/img/lottery-logo/jx11x5-live.png" alt="" class="play j-play">
									              </a>
											</div>
										</div>
									</div>

						<div class="container lobby-record">
							<div class="title">
								<span>广东11选5开奖记录</span><a href="/jx11x5/kaijiang/">查看全部>></a>
							</div>
							<div data-job="replace">
								<table class="table table-bordered table-striped text-center
									j-numslist">
									<thead>
										<tr>
											<th class="time">时间</th>
											<th width="30%">
												开奖号码
												<span class="help">
													<i class="fa fa-question-circle" aria-hidden="true"></i>
													<div class="tips">
														最近一期的开奖号码以不同颜色区分显示。往期历史开奖号码中，如出现与最近一期相同的开奖号码，则该号码以与最近一期开奖号码相同的颜色显示，以便于查看最近一期开出的某号码的历史分布情况。
														<span class="arrow"></span>
														<span class="arrow-bg"></span>
													</div>
												</span>
											</th>
											<th colspan="3" class="total">总和</th>
											<th class="lh">龙虎</th>
											<th class="qs">前三</th>
											<th class="zs">中三</th>
											<th class="hs">后三</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item,index) in keyList">
											<td>
												<span>{{buildDate(item)}}</span>
												<span class="time">{{buildHM(kjjl[index]["starttime"])}}</span>
											</td>
											<td class="record-num rn-jx11x5">
												<span v-for="item2 in kjjl[index]['rank']" :class="numOrder[item2] +
													' j-num' +item2" :data-n="item2">{{item2}}</span>
											</td>
											<td><span>{{kjjl[index]["gyhSum"]}}</span></td>
											<td>
												<span :class="kjjl[index]['zhDs'].indexOf('单')>-1?'highlight':''">{{kjjl[index]["zhDs"]}}</span>
											</td>
											<td>
												<span :class="kjjl[index]['zhDx'].indexOf('大')>-1?'highlight':''">{{kjjl[index]["zhDx"]}}</span>
											</td>
											<td>
												<span :class="kjjl[index]['lh1'].indexOf('龙')>-1?'highlight':(kjjl[index]['lh1'].indexOf('和')>-1?'high-light-green':'')">{{kjjl[index]["lh1"]}}</span>
											</td>
											<td>
												{{kjjl[index]["qs"]}}
											</td>
											<td>
												{{kjjl[index]["zs"]}}
											</td>
											<td>
												{{kjjl[index]["hs"]}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<#include "/common/jiqiao.html">
						<script type="text/javascript">
							var vm = new Vue({
								el:'#divContainer',
								data:{
									kjjl:[],
									keyList:[],
									gameData: {},	
									numOrder:{"1":"","2":"","3":"","4":"","5":"","6":"","7":"","8":"","9":"","10":"","11":""},
									timer: [],
									num: ['第一球', '第二球', '第三球', '第四球', '第五球'],
									flag: 0,
								},	
								methods:{
									buildDate: function(dateStr){
										if(dateStr){
											var str1 = dateStr.substring(0,8);
											var str2 = dateStr.substring(8);					
											return str1 + "-" + str2;
										}else{
											return "";
										}				
									},
									buildHM: function(time1){
										if(time1){
											return formatDate(new Date(time1),"hh:mm");
										}else{
											return "";
										}
									},
									buildNoColor: function(firstArr){
										//取出最新一期开奖的号码，进行样式排序,排序规则如：最近一期的开奖号码以不同颜色区分显示。往期历史开奖号码中，
										//如出现与最近一期相同的开奖号码，则该号码以与最近一期开奖号码相同的颜色显示，
										//以便于查看最近一期开出的某号码的历史分布情况。
										
										//将原来的样式设置成空值
										for(item in vm.numOrder){
											vm.numOrder[item] ="";
										}
										if(firstArr && firstArr.rank && firstArr.rank.length >0){                	
											var i =0;
											for(index in firstArr.rank){
												//如果该号码已经在前面出现过了，则跳过相同的号码样式设置
												if(vm.numOrder[firstArr.rank[index] + ""]){
													continue;	
												}
												vm.numOrder[firstArr.rank[index] + ""] = "no" + i;
												i++;
											}
										}				
									},
									draw: function (index) {
									if( index == undefined ){
										index=0;
									}
									this.flag = index;
									SULX.get(apijx11x5.jx11x5_zst,function(std,data) {
										var result =JSON.parse(data).data;

										var test1 = result['num'+(index+1)];
										// console.log(test1)
										var timer = [];
										var chartData = [];
										for(j in test1) {
										timer.push(j.substr(j.length-2,2)); //截取key生成期数
										chartData.push(Number(test1[j])); //数据必须是number
										}

										var chart = Highcharts.chart('container', {
										chart: {
											type: 'spline',
											height: '215'
											// width: '1400'
										},
										title: {
											text: '重庆时时彩号码走势图', //tubiao biaoti
											align: 'left'
										},
										xAxis: {
											categories: timer
										},
										yAxis: {
											title: '',
											tickPositions: [0, 5, 10, 15]  //y轴数据
											// categories: [0,150,200]
										},
										tooltip: {
											useHTML: true,
											headerFormat: '<span style=";">{point.key}期:{point.y}</span>',
											backgroundColor: '#666',   // 背景颜色
											// borderColor: 'black',         // 边框颜色
											borderRadius: 10,             // 边框圆角
											borderWidth: 0,
											display: 'flex', 
											shadow: false,                 
											animation: false,      
											pointFormatter: function() {
											return '<span style=" color: #fff;>期<span>';
											},
											style: {  
												width: '70px',
												height: '30px',   
														// 文字内容相关样式
												color: "rgba(255,255,255,0.8)",
												fontSize: "12px",
												fontWeight: "blod",
												fontFamily: "Courir new"
											}
										},
										plotOptions: {
											spline: {
												dataLabels: {
													// 开启数据标签
													// color: '#666',
													crop: false,
													overflow: 'none',
													verticalAlign: 'bottom',
													enabled: true          
												},
												// 关闭鼠标跟踪，对应的提示框、点击事件会失效
												enableMouseTracking: true
											}
										},
										series: [
											{
											name: '',
											color: '#5073a3',
											data: chartData
											}
										]
										
										});
										}
									)
									},
									getData: function(){
										this.draw();
										SULX.get(apijx11x5.jx11x5_kjjl,function(std,data) {
												var res2 = JSON.parse(data).data;
												var index =0;
												for(i in res2){
												for(j in res2[i]){
													if(index >9){
														break; 
													}
													vm.keyList.push(j); 
													vm.kjjl.push(res2[i][j]);
													index++;
												}                       	                    	
												}
												//重新设置号码样式
												var firstArr = vm.kjjl[0]; 
												vm.buildNoColor(firstArr); 
											}
										);
									}
								},
								created:function(){					
									this.getData();
								}	
							});
						</script> 
<#include "/common/foot.html">
</body>
</html>