<!DOCTYPE html>
<html lang="zh">

     <meta http-equiv="content-type"
        content="text/html;charset=utf-8" /> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1.0, user-scalable=0">
        <title>幸运飞艇号码路珠分析 - 开奖直播</title>
        <meta name="keywords" content="幸运飞艇,幸运飞艇开奖结果,幸运飞艇投注技巧,幸运飞艇玩法">
        <meta name="description"
            content="幸运飞艇路珠分析频道专门为幸运飞艇的玩家提供专业的幸运飞艇路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
            <#include "/common/header.html">
    </head>
    <body id="page-top" style="min-width: 1200px;">
      
        <nav id="mainNav" class="navbar navbar-default">
                <#include "/common/nav.html">
        </nav>
        <div class="lobby-head">
            <div class="container">
                <div class="row">
                    <div class="content">
                            <#include "/common/menu.html">
                            <#include "/xyft/kaijiang.html">
                        <div class="lottery-tips" id="j-lottery-tips"
                            style='display: none'>
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            温馨提示：<span class="j-periods"></span>开奖结果未获取,
                            继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
                        </div>
                        <div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
                            data-m="advertisement">
                        </div>
                        <div class="lottery-tips hide">
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            温馨提示：29开奖结果未获取, 继续等待自动更新或 <a href="#">手动刷新</a>
                        </div>
                        <div class="lottery-list">
                            <a class="item"href="../index.html">幸运飞艇</a>
                            <a class="item"href="../kaijiang/index.html">历史开奖号码</a>
                            <a class="item"href="../shipin/index.html">幸运飞艇视频</a>
                            <a class="item"href="../zonghe/index.html">综合路珠分析</a>
                            <a class="item"href="../shuangmianluzhu/index.html">单双大小路珠</a>
                            <a class="item active" href="index.html">号码前后路珠</a>
                            <a class="item"href="../longhuluzhu/index.html">龍虎路珠</a>
                            <a class="item"href="../longhu/index.html">龍虎历史</a>
                            <a class="item"href="../guanyaheluzhu/index.html">冠、亚和路珠</a>
                            <a class="item"href="../guanyahe/index.html">冠亚和历史</a>
                            <a class="item"href="../shuangmian/index.html">单双大小历史</a>
                            <a class="item"href="../shuangmianzoushitu/index.html">单双大小走势图</a>
                            <a class="item"href="../touzhu/index.html">两面投注参考</a>
                            <a class="item"href="../zoushitu/index.html">横版走势图</a>
                            <a class="item"href="../jiqiao/index.html">幸运飞艇技巧</a>
                            <a class="item"href="../changlongday/index.html">每日长龙</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-cloak id="all">
        <div class="container number-filter-title" style="padding: 10px 15px;">
            <ul class="list j-checklist" id="ball-choose" data-name="xyft_hmlz">
                <li data-c="1">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码1</label>
                    </span>
                </li>
                <li data-c="2">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码2</label>
                    </span>
                </li>
                <li data-c="3">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码3</label>
                    </span>
                </li>
                <li data-c="4">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码4</label>
                    </span>
                </li>
                <li data-c="5">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码5</label>
                    </span>
                </li>
                <li data-c="6">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码6</label>
                    </span>
                </li>
                <li data-c="7">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码7</label>
                    </span>
                </li>
                <li data-c="8">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码8</label>
                    </span>
                </li>
                <li data-c="9">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码9</label>
                    </span>
                </li>
                <li data-c="10">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>号码10</label>
                    </span>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-default
                    dropdown-toggle" data-toggle="dropdown">
                    使用说明<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
                    <li>2.当长龙中断时，则另起一列显示结果；</li>
                    <li>3.“前”表示号码开出在前5名，“后”表示号码开出在后5名。</li>
                </ul>
            </div>
            <div class="right-btns">
                <span class="all-ball j-checkall" data-index="0">全选</span>
                <span class="clear-ball j-checkclear" data-index="0">清空</span>
            </div>
        </div>
        <div data-job="replace" class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num1['num_1_q']}}）
                                        后（{{num1['num_1_h']}}）</span>
                                    号码1
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in tableData.num_1" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num2['num_2_q']}}）
                                        后（{{num2['num_2_h']}}）</span>
                                    号码2
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in tableData.num_2" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num3['num_3_q']}}）
                                        后（{{num3['num_3_h']}}）</span>
                                    号码3
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in tableData.num_3" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num4['num_4_q']}}）
                                        后（{{num4['num_4_h']}}）</span>
                                    号码4
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_4" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num5['num_5_q']}}）
                                        后（{{num5['num_5_h']}}）</span>
                                    号码5
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_5" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num6['num_6_q']}}）
                                        后（{{num6['num_6_h']}}）</span>
                                    号码6
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_6" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num7['num_7_q']}}）
                                        后（{{num7['num_7_h']}}）</span>
                                    号码7
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_7" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num8['num_8_q']}}）
                                        后（{{num8['num_8_h']}}）</span>
                                    号码8
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_8" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_9">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num9['num_9_q']}}）
                                        后（{{num9['num_9_h']}}）</span>
                                    号码9
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_9" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_10">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日号码累计：<span class="text-primary">前（{{num10['num_10_q']}}）
                                        后（{{num10['num_10_h']}}）</span>
                                    号码10
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num_10" :class="{'even': item[0] === '前', 'odd': item[0] === '后'}"> <!---->
                                    <span  v-for="items in item" :class="{'high-light-red': items === '前', 'high-light-blue': items === '后'}">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <#include "/common/foot.html"> 

<script>
        var vm = new Vue({
            el: '#all', //el 
            data: {
                tableData: {},
                numData: {},
                num1: {},
                num2: {},
                num3: {},
                num4: {},
                num5: {},
                num6: {},
                num7: {},
                num8: {},
                num9: {},
                num10: {},
            },
            methods: { //click事件
                getData: function() {
                	SULX.get(apixyft.xyft_hmqhlz,function(std,data) {
                        var result = JSON.parse(data).data;
                        // console.log(result)
                        vm.tableData = result.sxplz;
                        vm.num1 = result.jrlj.num_1;
                        vm.num2 = result.jrlj.num_2;
                        vm.num3 = result.jrlj.num_3;
                        vm.num4 = result.jrlj.num_4;
                        vm.num5 = result.jrlj.num_5;
                        vm.num6 = result.jrlj.num_6;
                        vm.num7 = result.jrlj.num_7;
                        vm.num8 = result.jrlj.num_8;
                        vm.num9 = result.jrlj.num_9;
                        vm.num10 = result.jrlj.num_10;
                        }
                    );
                }
            },
            created: function() { 
                this.getData()
            },
        })
    </script>
    </body>

</html>