<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>江苏快3号码路珠分析 - 开奖直播</title>
<meta name="keywords" content="江苏快3开奖视频, 江苏快3开奖号码, 江苏快3技巧，江苏快3计划软件">
<meta name="description" content="江苏快3路珠分析频道专门为江苏快3的玩家提供专业的江苏快3路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html"><body>
<#include "/wap/common/nav.html">

<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
 <#include "/wap/jsk3/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/jsk3/rightmenu.html">
<div class="menu-title">
号码路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当中断连续开出同一结果时，则另起一列显示结果；</li>
<li>3.“X”表示历史对应的某一期未出现该号码，“√”表示历史对应的某一期未出现了该号码。</li>
</ul>
</div>
</div>
<div id="divContainer" v-cloak>
<div class="j-records">
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num1-gou"]}}） 没来（{{hmlz["num1-cha"]}}）</span>
号码1
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num1' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_2">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num2-gou"]}}） 没来（{{hmlz["num2-cha"]}}）</span>
号码2
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num2' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_3">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num3-gou"]}}） 没来（{{hmlz["num3-cha"]}}）</span>
号码3
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num3' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_4">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num4-gou"]}}） 没来（{{hmlz["num4-cha"]}}）</span>
号码4
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num2' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_5">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num5-gou"]}}） 没来（{{hmlz["num5-cha"]}}）</span>
号码5
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num5' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_6">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日号码累计：<span class="text-primary">总来（{{hmlz["num6-gou"]}}） 没来（{{hmlz["num6-cha"]}}）</span>
号码6
</span>
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in hmlz['num6' ]" :class="item.indexOf('√')>-1?'odd':'even'"  >
<span :class="item.indexOf('√')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el:'#divContainer',
		data:{
			hmlz:{},
		},
		 methods: {
			 getData: function(){
				//总和露珠
					SULX.get(apijsk3.jsk3_hmlz,function(std,data) {
		                    vm.hmlz = JSON.parse(data).data;			
		                }
		            ); 
			 },
		 },
		created:function(){			
			this.getData();
		}	
	});
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>