<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>江苏快3历史号码统计 - 开奖直播</title>
<meta name="keywords" content="江苏快3开奖视频, 江苏快3开奖号码, 江苏快3技巧，江苏快3计划软件">
<meta name="description" content="江苏快3路珠分析频道专门为江苏快3的玩家提供专业的江苏快3路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/common/header.html">
</head>
<body id="page-top" style="min-width: 1200px;">
<nav id="mainNav" class="navbar navbar-default">
<#include "/common/nav.html">
</nav>
<div class="lobby-head">
<div class="container">
<div class="row">
<div class="content">
<#include "/common/menu.html">
<#include "/jsk3/kaijiang.html">

<div class="lottery-tips" id="j-lottery-tips" style='display: none'>
<i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
</div>
<div class="pay-show" data-pay="Icp_Pc_Lottery_Top" data-m="advertisement">
</div>
<div class="lottery-list">
<a class="item " href="/jsk3/index.html">江苏快3</a>
<a class="item " href="/jsk3/kaijiang">历史开奖号码</a>
<a class="item " href="/jsk3/shipin">开奖视频</a>
<a class="item " href="/jsk3/yilou">号码遗漏统计</a>
<a class="item " href="/jsk3/haomaluzhu">号码路珠</a>
<a class="item " href="/jsk3/zongheluzhu">总和路珠</a>
<a class="item  active" href="/jsk3/haomatongji">历史号码统计</a>
<a class="item " href="/jsk3/zoushitu">横版走势图</a>
<a class="item " href="/jsk3/jiqiao">江苏快3技巧</a>
</div>
</div>
</div>
</div>
</div>
<div v-cloak id="divContainer"  class="container lobby-record" data-job="replace">
<div class="table-responsive">
<table class="table table-bordered table-striped text-center">
<thead>
<tr>
<th width="130">日期</th>
<th width="50">1</th>
<th width="50">2</th>
<th width="50">3</th>
<th width="50">4</th>
<th width="50">5</th>
<th width="50">6</th>
<th width="50">大</th>
<th width="50">小</th>
</tr>
</thead>
<tr v-for="(item,index) in dateArr" :class="index%2==0?'odd':'even'">
<td>{{item}}</td>
<td>{{lshmtj[index][item]["num1"]}}</td>
<td>{{lshmtj[index][item]["num2"]}}</td>
<td>{{lshmtj[index][item]["num3"]}}</td>
<td>{{lshmtj[index][item]["num4"]}}</td>
<td>{{lshmtj[index][item]["num5"]}}</td>
<td>{{lshmtj[index][item]["num6"]}}</td>
<td>{{lshmtj[index][item]["da"]}}</td>
<td>{{lshmtj[index][item]["xiao"]}}</td>
</tr>

</table>
</div>
</div>

<script type="text/javascript">
	var vm = new Vue({
		el:'#divContainer',
		data:{
			lshmtj:{},
			dateArr: [],
			thList:["num1","num2","num3","num4","num5","num6","da","xiao"],
		},
		methods: {
	    	getData: function(){
	    		SULX.get(apijsk3.jsk3_lshmtj,function(std,data) {
	                vm.lshmtj = JSON.parse(data).data;
	                //vm.lshmtj.reverse();
	                for(i=0;i<vm.lshmtj.length;i++) {
	                    for(j in vm.lshmtj[i]) {
	                        vm.dateArr.push(j);
	                    }
	                }
	            });			
	    	}
		},
		created:function(){			
			this.getData();
		}	
	});
</script>
<#include "/common/foot.html">
</body>
</html>