<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>幸运农场中发白路珠分析 - 开奖直播</title>
<meta name="keywords" content="幸运农场,幸运农场开奖结果,幸运农场投注技巧,幸运农场玩法">
<meta name="description" content="幸运农场路珠分析频道专门为幸运农场的玩家提供专业的幸运农场路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/xync/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/xync/rightmenu.html">
<div class="menu-title">
中发白路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当中断连续开出中、发或白时，则另起一列显示结果；</li>
<li>3.<b>中</b>：开出号码为01、02、03、04、05、06、07；<b>發</b>：开出号码为08、09、10、11、12、13、14；<b>白</b>：开出号码为15、16、17、18、19、20。</li>
</ul>
</div>
</div>
<div id="xxvsxffsf" v-cloak>
<div class="j-records">
<div class="container lobby-record t_1 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num1-zhong"]}}） 发（{{zfblz["num1-fa"]}}） 白（{{zfblz["num1-bai"]}}） </span></span>
第一球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num1']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_2 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num2-zhong"]}}） 发（{{zfblz["num2-fa"]}}） 白（{{zfblz["num2-bai"]}}） </span></span>
第二球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num2']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_3 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num3-zhong"]}}） 发（{{zfblz["num3-fa"]}}） 白（{{zfblz["num3-bai"]}}） </span></span>
第三球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num3']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_4 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num4-zhong"]}}） 发（{{zfblz["num4-fa"]}}） 白（{{zfblz["num4-bai"]}}） </span></span>
第四球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num4']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_5 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num5-zhong"]}}） 发（{{zfblz["num5-fa"]}}） 白（{{zfblz["num5-bai"]}}） </span></span>
第五球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num5']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_6 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num6-zhong"]}}） 发（{{zfblz["num6-fa"]}}） 白（{{zfblz["num6-bai"]}}） </span></span>
第六球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num6']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_7 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num7-zhong"]}}） 发（{{zfblz["num7-fa"]}}） 白（{{zfblz["num7-bai"]}}） </span></span>
第七球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num7']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

<div class="container lobby-record t_8 ">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
 <td>
<span>今日累计：<span class="text-primary"> 中（{{zfblz["num8-zhong"]}}） 发（{{zfblz["num8-fa"]}}） 白（{{zfblz["num8-bai"]}}） </span></span>
第八球中发白
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="(item2, key, index) in zfblz['num8']" :class="key % 2=== 0?'odd':'even'">

<span :class="item2.indexOf('中')>-1?'high-light-red':'high-light-blue'" 
 :style="item2.indexOf('白') >-1?'color: #008000;':''"
v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el:'#xxvsxffsf',
		data:{
			zfblz:{},
		},
		 methods: {
			 getData:function(){
				//单双露珠
					SULX.get(apixync.xync_zfblz,function(std,data) {
		                    vm.zfblz = JSON.parse(data).data;			
		                }
		            ); 
			 },
		 },
		created:function(){
			this.$options.methods.getData(); 
		}	
	});
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>