<#include "/tjssc/head.html">

<div class="container number-filter-title" style="padding: 10px 15px;">
<div class="dropdown pull-right">
<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
使用说明<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" style="left: -218px;">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当中断连续开出的同一结果时，则另起一列显示结果；</li>
<li>3.龙虎说明：”第一球“号码大于“第五球”号码视为【龙】中奖、反之小于视为【虎】中奖。</li>
</ul>
</div>
</div>

<div v-cloak id="divContainer">
<div data-job="replace">
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<span>
今日累计：<span class="text-primary">龍（{{lhlz["num1-long"]}}） 虎（{{lhlz["num1-hu"]}}） 和（{{lhlz["num1-he"]}}） </span>
龍虎
</span>
</td>
</tr>
 </table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in lhlz['num1']" :class="item.indexOf('虎')>-1?'even':'odd'">
<span :class="item.indexOf('虎')>-1?'high-light-blue':item.indexOf('龍')>-1?'high-light-red':'high-light-green'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
	var vm = new Vue({
		el:'#divContainer',
		data:{
			lhlz:{},
		},	
		methods:{
			getData: function(){
				SULX.get(apitjssc.tjssc_lhlz,function(std,data) {
                    vm.lhlz = JSON.parse(data).data;		
                }
            	);
			}
		},
		created:function(){		
			this.getData();			
		}	
	});
</script>
<#include "/common/foot.html">
</body>
</html>