<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>幸运飞艇单双大小路珠分析 - 开奖直播</title>
<meta name="keywords" content="幸运飞艇,幸运飞艇开奖结果,幸运飞艇投注技巧,幸运飞艇玩法">
<meta name="description" content="幸运飞艇路珠分析频道专门为幸运飞艇的玩家提供专业的幸运飞艇路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html"><body>
<#include "/wap/common/nav.html">

<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/xyft/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/xyft/rightmenu.html">
<div class="menu-title">
单双大小路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.开出号码小于等于1-5为小，大于等于6-10为大,能被2整除的数为双，否则为单。</li>
</ul>
</div>
</div>
<div id="all" v-cloak>
        <div class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_1_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num1-da']}}）
                                        小（{{tableData['num1-xiao']}}） </span></span>
                                冠军大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num1" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_1_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num1-dan']}}）
                                        双（{{dsData['num1-shuang']}}） </span></span>
                                冠军单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num1" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_2_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num2-da']}}）
                                        小（{{tableData['num2-xiao']}}） </span></span>
                                亚军大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num2" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_2_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num2-dan']}}）
                                        双（{{dsData['num2-shuang']}}） </span></span>
                                亚军单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in dsData.num2" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                    <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_3_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num3-da']}}）
                                        小（{{tableData['num3-xiao']}}） </span></span>
                                第三名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num3" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_3_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num3-dan']}}）
                                        双（{{dsData['num3-shuang']}}） </span></span>
                                第三名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num3" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_4_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num4-da']}}）
                                        小（{{tableData['num4-xiao']}}） </span></span>
                                第四名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num4" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_4_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num4-dan']}}）
                                        双（{{dsData['num4-shuang']}}） </span></span>
                                第四名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in dsData.num4" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_5_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num5-da']}}）
                                        小（{{tableData['num5-xiao']}}） </span></span>
                                第五名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num5" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_5_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num5-dan']}}）
                                        双（{{dsData['num5-shuang']}}） </span></span>
                                第五名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in dsData.num5" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                    <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_6_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num6-da']}}）
                                        小（{{tableData['num6-xiao']}}） </span></span>
                                第六名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num6" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td> 
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_6_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num6-dan']}}）
                                        双（{{dsData['num6-shuang']}}） </span></span>
                                第六名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num6" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_7_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num7-da']}}）
                                        小（{{tableData['num7-xiao']}}） </span></span>
                                第七名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num7" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td> 
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_7_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num7-dan']}}）
                                        双（{{dsData['num7-shuang']}}） </span></span>
                                第七名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num7" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_8_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num8-da']}}）
                                        小（{{tableData['num8-xiao']}}） </span></span>
                                第八名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num8" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td> 
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_8_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num8-dan']}}）
                                        双（{{dsData['num8-shuang']}}） </span></span>
                                第八名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num8" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_9">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_9_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num9-da']}}）
                                        小（{{tableData['num9-xiao']}}） </span></span>
                                第九名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num9" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td> 
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_9">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_9_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num9-dan']}}）
                                        双（{{dsData['num9-shuang']}}） </span></span>
                                第九名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num9" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_10">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_10_bs" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 大（{{tableData['num10-da']}}）
                                        小（{{tableData['num10-xiao']}}） </span></span>
                                第十名大小
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in tableData.num10" :class="{even: item[0] === '小',odd: item[0] === '大'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '小', 'high-light-red': items === '大' }">{{items}}</span>
                                </td> 
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_10">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <a id="stat_10_oe" href="ballstat.html"
                                    target="_blank"></a>
                                <span>今日累计：<span class="text-primary"> 单（{{dsData['num10-dan']}}）
                                        双（{{dsData['num10-shuang']}}） </span></span>
                                第十名单双
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in dsData.num10" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
            el: '#all', //el 
            data: {
                tableData: {},
                dsData: {},
            },
            methods: { //click事件
                getData: function() {
                	SULX.get(apixyft.xyft_dxlz,function(std,data) {
                        var result = JSON.parse(data).data;
                        vm.tableData = result;
    
                        }
                    );
                    SULX.get(apixyft.xyft_dslz,function(std,data) {
                            var result = JSON.parse(data).data;
                            vm.dsData = result;
                        }
                    );
                }
            },
            created: function() { 
                this.getData()
            },
        })
    </script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>