<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
        <title>广东快乐十分单双大小参考</title>
        <meta name="keywords" content="广东快乐十分开奖视频, 广东快乐十分开奖号码,广东快乐十分技巧，广东快乐十分计划软件">
        <meta name="description" content="广东快乐十分路珠分析频道专门为广东快乐十分的玩家提供专业的广东快乐十分路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
        <#include "/common/header.html">
    </head>
    <body id="page-top" style="min-width: 1200px;">

        <nav id="mainNav" class="navbar navbar-default">
       	<#include "/common/nav.html">
       	</nav>
        <div class="lobby-head">
            <div class="container">
                <div class="row">
                    <div class="content">
                    	<#include "/common/menu.html">
                        <#include "/gdkl10/kaijiang.html">
                        <div class="lottery-tips" id="j-lottery-tips"
                            style='display: none'>
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            温馨提示：<span class="j-periods"></span>开奖结果未获取,
                            继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
                        </div>
                        <div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
                            data-m="advertisement">
                        </div>
                        <div class="lottery-list">
                            <a class="item"href="../index.html">快乐十分</a>
                            <a class="item"href="../kaijiang/index.html">历史开奖号码</a>
                            <a class="item"href="../shipin/index.html">开奖视频</a>
                            <a class="item"href="../zonghe/index.html">综合路珠分析</a>
                            <a class="item"href="../heshudanshuangluzhu/index.html">合数单双路珠</a>
                            <a class="item"href="../longhuluzhu/index.html">龍虎路珠</a>
                            <a class="item"href="../zongheluzhu/index.html">总和路珠</a>
                            <a class="item"href="../weishudaxiaoluzhu/index.html">尾数大小路珠</a>
                            <a class="item"href="../shuangmianluzhu/index.html">单双大小路珠</a>
                            <a class="item"href="../zhongfabailuzhu/index.html">中发白路珠</a>
                            <a class="item"href="../dongnanxibeiluzhu/index.html">东南西北路珠</a>
                            <a class="item"href="../haomaluzhu/index.html">号码路珠</a>
                            <a class="item"href="../haomatongji/index.html">历史号码统计</a>
                            <a class="item"href="../shuangmian/index.html">单双大小历史</a>
                            <a class="item"href="../zoushitu/index.html">横版走势图</a>
                            <a class="item"href="../shuangmianzoushitu/index.html">单双大小走势图</a>
                            <a class="item active" href="index.html">两面投注参考</a>
                            <a class="item"href="../jiqiao/index.html">快乐十分技巧</a>
                            <a class="item"href="../changlongday/index.html">每日长龙</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-cloak id="all">
        <div class="container number-filter-title">
            <a name="mark"></a>
            <ul class="ball">
                    <li 
                    v-for="(item,index) in title"><a 
                    style="cursor: pointer;"
                    @click.prevent="changeTable(index)"
                    :class="{'cur': flag === index}">{{item}}</a>| </li>
            </ul>
            <div style="color: #d94136; margin-bottom: 10px;">
                *以每10期为一组，统计最近30组中单双大小的出现次数。
            </div>
        </div>
        <div data-job="replace">
            <div class="container lobby-record">
                <div class="able-responsive">
                    <table class="table table-bordered table-striped
                        text-center">
                        <thead>
                            <tr>
                                <th><b>日期</b></th>
                                <th width="20%"><b>单</b></th>
                                <th width="20%"><b>双</b></th>
                                <th width="20%"><b>大</b></th>
                                <th width="20%"><b>小</b></th>
                            </tr>
                        </thead>
                        <tr v-for="(item,index) in realData">
                                <td class="text-center">
                                    <table class="table table-condensed"
                                        style="width: 80%; margin: 0 auto;
                                        background: transparent;">
                                        <tr>
                                            <td style="border: 0; text-align:
                                                left;">{{timer[index]}}</td>
                                            <td style="border: 0; text-align:
                                                right;"><span>{{item.beginPeriods[9]+item.beginPeriods[10]+ '-' + String(item.endPeriods)[9]+String(item.endPeriods)[10]+ '期'}}</span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td>{{item.dan}}</td>
                                <td>{{item.shuang}}</td>
                                <td>{{item.da}}</td>
                                <td>{{item.xiao}}</td>
                            </tr>
                    </table>
                </div>
            </div>
        
        </div>
    </div>
<#include "/common/foot.html">
<script>
        var vm = new Vue({
            el: '#all',
            data: {
                flag: 0,
                title: [
                    '第一名',
                    '第二名',
                    '第三名',
                    '第四名',
                    '第五名',
                    '第六名',
                    '第七名',
                    '第八名',
                ],
                timer: [],
                tableData: [],
                realData: []
            },
            methods: {
                getData: function() {
                	SULX.get(apikl10.gdklsf_lmtzck,function(std,data) {
                        vm.realData.splice(0);
                        var tip = [];
                        var short = [];
                        var result = JSON.parse(data).data;

                        for(i=0;i<result.length;i++) {
                            for(j in result[i]) {
                                tip.push(j.slice(5,7)+'月'+j.slice(8,10)+'日');
                                short.push(result[i][j])
                            }
                        }
                        vm.timer = tip;
                        vm.tableData = short;
                        for(i=0;i<vm.tableData.length;i++) {
                            vm.realData.push(vm.tableData[i].num1)
                            }
                        }
                    )
                },
                changeTable: function(index) {
                    this.realData.splice(0);
                    this.flag = index;
                    var t = 'num'+(index+1);
                    // console.log(vm.tableData[i][t])
                    for(i=0;i<vm.tableData.length;i++) {
                        vm.realData.push(vm.tableData[i][t])
                    }
                }
            },
            created: function() {
                this.getData();
            },
        })
    </script>
</body>
</html>