<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>幸运农场总和路珠分析 - 开奖直播</title>
<meta name="keywords" content="幸运农场,幸运农场开奖结果,幸运农场投注技巧,幸运农场玩法">
<meta name="description" content="幸运农场路珠分析频道专门为幸运农场的玩家提供专业的幸运农场路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div  class="container-fluid main">
<div class="row">
<#include "/wap/xync/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/xync/rightmenu.html">
<div class="menu-title">
总和路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.总和路珠指8个开出的号码的总和对应的大小、单双，其中总合为85至132为大，36至83为小，和值为84。</li>
</ul>
</div>
</div>
<div id="all" v-cloak>
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #fff;">
<td>
<a id="stat_1_bs" href="ballstat.html" target="_blank"></a>
<span>
今日累计：<span class="text-primary"> 大（{{zhlz["num-da"]}}） 小（{{zhlz["num-xiao"]}}）
和（{{zhlz["num-he"]}}） </span>
</span>
总和大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in zhlz['xd']" :class="item.indexOf('小')>-1?'even':'odd'">
<span :class="item.indexOf('小')>-1?'high-light-blue':'high-light-red'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>

</table>
</div>
</div>
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #fff;">
<td>
<a id="stat_1_oe" href="ballstat.html" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{zhlz["num-dan"]}}） 双（{{zhlz["num-shuang"]}}） </span></span>
总和单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in zhlz['ds']" :class="item.indexOf('双')>-1?'even':'odd'">
<span :class="item.indexOf('双')>-1?'high-light-blue':'high-light-red'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_2">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #fff;">
<td>
<a id="stat_2_bs" href="ballstat.html" target="_blank"></a>
<span>
今日累计：<span class="text-primary"> 大（{{zhlz["numzhws-da"]}}） 小（{{zhlz["numzhws-xiao"]}}） 
</span>
</span>
总和尾数
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item2 in zhlz['zhwsdx']" :class="item2.indexOf('小')>-1?'odd':'even'">
<span :class="item2.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item3 in item2.split('')">
{{item3}}
</span>
</td>
</tr>
</table>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">
var vm = new Vue({
	el:'#all',
	data:{
		zhlz:{},
	},		
	 methods: {
		 getData:function(){	
			//总和露珠
				SULX.get(apixync.xync_zhlz,function(std,data) {
		                vm.zhlz = JSON.parse(data).data;			
		            }
		        );
			 
		 },
	 },
	created:function(){			
		this.$options.methods.getData(); 
	}	
});
       
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>