<#include "/tjssc/head.html">

<div v-cloak id="divContainer">
<div class="container number-filter-title" style="padding: 10px 15px;">
<ul class="list j-checklist" id="ball-choose" data-name="ssc_smlz">

<li v-for="(item,index) in qiushuList" :data-c="index+1">
<i class="icp-checkbox icp-checked"></i>
<span class="ckb-txt">
<label>第{{item}}球</label>
</span>
</li>

<div class="dropdown">
<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
使用说明<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.开奖结果为单数时，则“单”中奖，开奖结果为双数时，则“双”中奖，开奖结果为0-4时，则“小”中奖，开奖结果为5-9时，则“大”中奖。</li>
</ul>
</div>
</ul>
<div class="right-btns">
<span class="all-ball j-checkall" data-index="0">全选</span>
<span class="clear-ball j-checkclear" data-index="0">清空</span>
</div>
</div>
<div data-job="replace" class="j-records">

<!-- 第一球 -->
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num1-da"]}}） 小（{{dxlz["num1-xiao"]}}） </span></span>
第一球大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dxlz['num1']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_1">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num1-dan"]}}） 双（{{dslz["num1-shuang"]}}） </span></span>
第一球单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dslz['num1']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<!-- 第二球 -->
<div class="container lobby-record t_2">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num2-da"]}}） 小（{{dxlz["num2-xiao"]}}） </span></span>
第二球大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dxlz['num2']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_2">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num2-dan"]}}） 双（{{dslz["num2-shuang"]}}） </span></span>
第二球单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dslz['num2']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<!-- 第三球 -->
<div class="container lobby-record t_3">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num3-da"]}}） 小（{{dxlz["num3-xiao"]}}） </span></span>
第三球大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dxlz['num3']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_3">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num3-dan"]}}） 双（{{dslz["num3-shuang"]}}） </span></span>
第三球单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dslz['num3']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<!-- 第四球 -->
<div class="container lobby-record t_4">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num4-da"]}}） 小（{{dxlz["num4-xiao"]}}） </span></span>
第四球大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dxlz['num4']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_4">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num4-dan"]}}） 双（{{dslz["num4-shuang"]}}） </span></span>
第四球单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dslz['num4']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

<!-- 第五球 -->
<div class="container lobby-record t_5">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_bs" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 大（{{dxlz["num5-da"]}}） 小（{{dxlz["num5-xiao"]}}） </span></span>
第五球大小
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dxlz['num5']" :class="item.indexOf('小')>-1?'odd':'even'">
<span :class="item.indexOf('大')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>
<div class="container lobby-record t_5">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tr style="background: #f6f6f6;">
<td>
<a id="stat_1_oe" href="./ballstat" target="_blank"></a>
<span>今日累计：<span class="text-primary"> 单（{{dslz["num5-dan"]}}） 双（{{dslz["num5-shuang"]}}） </span></span>
第五球单双
</td>
</tr>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tr valign="top">
<td v-for="item in dslz['num5']" :class="item.indexOf('双')>-1?'odd':'even'">
<span :class="item.indexOf('单')>-1?'high-light-red':'high-light-blue'" v-for="item2 in item.split('')">
{{item2}}
</span>
</td>
</tr>
</table>
</div>
</div>

</div>
</div>

<script type="text/javascript">
	var vm = new Vue({
		el:'#divContainer',
		data:{
			dslz:{},
			dxlz:{},
			qiushuList:["一","二","三","四","五"],
		},	
		methods:{
			getData: function(){
				//单双露珠
				SULX.get(apitjssc.tjssc_dslz,function(std,data) {
	                    vm.dslz = JSON.parse(data).data;		
	                }
	            );
				//大小露珠
				SULX.get(apitjssc.tjssc_dxlz,function(std,data) {
	                    vm.dxlz = JSON.parse(data).data;				
	                }
	            );
			},
		},
		created:function(){
			this.getData();
		}	
	});
</script>
<#include "/common/foot.html">
</body>
</html>