<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link  <#if lottory_func==''>cur</#if>" href="/m/pcdd/index.html">PC蛋蛋</a>
<a class="link  <#if lottory_func=='kaijiang'>cur</#if>" href="/m/pcdd/kaijiang/index.html">历史开奖号码</a>
<a class="link  <#if lottory_func=='zongheluzhu'>cur</#if>" href="/m/pcdd/zongheluzhu/index.html">总和路珠</a>
<a class="link  <#if lottory_func=='boseluzhu'>cur</#if>" href="/m/pcdd/boseluzhu/index.html">波色路珠</a>
<a class="link  <#if lottory_func=='jiqiao'>cur</#if>" href="/m/pcdd/jiqiao/index.html">PC蛋蛋技巧</a>
</div>
</div>
</div>