<TABLE class="zstable">
	<tr style="background:#efefef;">
		<td width="70" rowspan="2">期数</td>
		<td width="40" rowspan="2">特码</td>
        <td colspan="7">特段走势图</td>
    </tr>
    <tr class="head bold">
        <td width="126">第一段(01-07)</td>
        <td width="126">第二段(08-14)</td>
        <td width="126">第三段(15-21)</td>
        <td width="126">第四段(22-28)</td>
        <td width="126">第五段(29-35)</td>
        <td width="126">第六段(36-42)</td>
        <td width="126">第七段(43-49)</td>
    </tr>
    <tr class="white red bold enfont">
        <td>出现次数</td>
        <td> </td>
        <td>23次</td><td>18次</td><td>26次</td><td>22次</td><td>25次</td><td>21次</td><td>18次</td>    </tr>
    <tr title="模拟选号">
        <td class="yellow bold">模拟选号</td>
        <td class="white"></td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','一');">一</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','二');">二</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','三');">三</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','四');">四</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','五');">五</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','六');">六</td>
        <td class="yellow enfont" onClick="SelectNum(this,'Red','七');">七</td>
    </tr>
	

	
 <tr onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#ffffcc'">
<td>2017/001期</td>
<td style="background:#ffc;"><span class="Red_bg F">18</span></td>
<td class="hui_color">1</td>
<td class="hui_color">1</td>
<td class="Red_boll1" id="Ds1" value="1">18</td>
<td class="hui_color">1</td>
<td class="hui_color">1</td>
<td class="hui_color">1</td>
<td class="hui_color">1</td>
</tr>
<tr onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#ffffcc'">
<td>2017/002期</td>
<td style="background:#ffc;"><span class="Green_bg F">39</span></td>
<td class="hui_color">2</td>
<td class="hui_color">2</td>
<td class="hui_color">1</td>
<td class="hui_color">2</td>
<td class="hui_color">2</td>
<td class="Red_boll1" id="Ds1" value="1">39</td>
<td class="hui_color">2</td>
</tr>