<!-- 注：此文件只有在跑视频时间的页面才引入foot2.html，其它页面请引入foot.html 此页面跟foot.html唯一不同是此页面引入的是 all2.js
，foot.hml引入的是all1d9d.js 如果要更改foot.html请把此文件一起更改-->
<section class="speed-nav">
    <div class="container">
        <div class="row">
            <ul class="tab">
                <li class="tab-item active">北京赛车pk10</li>
                <li class="tab-item">重庆时时彩</li>
                <li class="tab-item">广东快乐十分</li>
                <li class="tab-item">幸运飞艇</li>
                <li class="tab-item">幸运农场</li>
                <li class="tab-item">广东11选5</li>
                <li class="tab-item">快乐8</li>
                <li class="tab-item">PC蛋蛋</li>
                <li class="tab-item">江苏快3</li>
                <li class="tab-item">新疆时时彩</li>
                <li class="tab-item">天津时时彩</li>
                <li class="tab-item">江西11选5</li>
                <li class="tab-item" style="pointer-events: none;"></li>
            </ul>
            <div class="tab-content">
                <a href="/pk10/index.html">北京赛车pk10</a>
                <a href="/pk10/kaijiang/index.html">pk10开奖</a>
                <a href="/pk10/shipin/index.html">pk10开奖直播</a>
                <a href="/pk10/yilou/index.html">号码遗漏统计</a>
                <a href="/pk10/zonghe/index.html">综合路珠分析</a>
                <a href="/pk10/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/pk10/haomaluzhu/index.html">号码前后路珠</a>
                <a href="/pk10/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/pk10/longhu/index.html">龍虎历史</a>
                <a href="/pk10/guanyaheluzhu/index.html">冠、亚和路珠</a>
                <a href="/pk10/guanyahe/index.html">冠亚和历史</a>
                <a href="/pk10/guanyaheyilou/index.html">冠亚和遗漏</a>
                <a href="/pk10/shuangmian/index.html">单双大小历史</a>
                <a href="/pk10/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/pk10/touzhu/index.html">两面投注参考</a>
                <a href="/pk10/zoushitu/index.html">横版走势图</a>
                <a href="/pk10/jiqiao/index.html">pk10技巧</a>
            </div>
            <div class="tab-content">
                <a href="/shishicai/index.html">重庆时时彩</a>
                <a href="/shishicai/kaijiang/index.html">历史开奖号码</a>
                <a href="/shishicai/shipin/index.html">开奖视频</a>
                <a href="/shishicai/zonghe/index.html">综合路珠分析</a>
                <a href="/shishicai/yilou/index.html">号码遗漏统计</a>
                <a href="/shishicai/haomaluzhu/index.html">号码路珠</a>
                <a href="/shishicai/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/shishicai/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/shishicai/zongheluzhu/index.html">总和路珠</a>
                <a href="/shishicai/shuangmian/index.html">单双大小历史</a>
                <a href="/shishicai/haomatongji/index.html">历史号码统计</a>
                <a href="/shishicai/touzhu/index.html">两面投注参考</a>
                <a href="/shishicai/zoushitu/index.html">横版走势图</a>
                <a href="/shishicai/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/shishicai/jiqiao/index.html">重庆时时彩技巧</a>
            </div>
            <div class="tab-content">
                <a href="/gdkl10/index.html">快乐十分</a>
                <a href="/gdkl10/kaijiang/index.html">历史开奖号码</a>
                <a href="/gdkl10/shipin/index.html">开奖视频</a>
                <a href="/gdkl10/zonghe/index.html">综合路珠分析</a>
                <a href="/gdkl10/heshudanshuangluzhu/index.html">合数单双路珠</a>
                <a href="/gdkl10/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/gdkl10/zongheluzhu/index.html">总和路珠</a>
                <a href="/gdkl10/weishudaxiaoluzhu/index.html">尾数大小路珠</a>
                <a href="/gdkl10/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/gdkl10/zhongfabailuzhu/index.html">中发白路珠</a>
                <a href="/gdkl10/dongnanxibeiluzhu/index.html">东南西北路珠</a>
                <a href="/gdkl10/haomaluzhu/index.html">号码路珠</a>
                <a href="/gdkl10/haomatongji/index.html">历史号码统计</a>
                <a href="/gdkl10/shuangmian/index.html">单双大小历史</a>
                <a href="/gdkl10/zoushitu/index.html">横版走势图</a>
                <a href="/gdkl10/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/gdkl10/touzhu/index.html">两面投注参考</a>
                <a href="/gdkl10/jiqiao/index.html">快乐十分技巧</a>
            </div>
            <div class="tab-content">
                <a href="/xyft/index.html">幸运飞艇</a>
                <a href="/xyft/kaijiang/index.html">历史开奖号码</a>
                <a href="/xyft/shipin/index.html">幸运飞艇视频</a>
                <a href="/xyft/zonghe/index.html">综合路珠分析</a>
                <a href="/xyft/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/xyft/haomaluzhu/index.html">号码前后路珠</a>
                <a href="/xyft/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/xyft/longhu/index.html">龍虎历史</a>
                <a href="/xyft/guanyaheluzhu/index.html">冠、亚和路珠</a>
                <a href="/xyft/guanyahe/index.html">冠亚和历史</a>
                <a href="/xyft/shuangmian/index.html">单双大小历史</a>
                <a href="/xyft/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/xyft/touzhu/index.html">两面投注参考</a>
                <a href="/xyft/zoushitu/index.html">横版走势图</a>
                <a href="/xyft/jiqiao/index.html">幸运飞艇技巧</a>
            </div>
            <div class="tab-content">
                <a href="/xync/index.html">幸运农场</a>
                <a href="/xync/kaijiang/index.html">历史开奖号码</a>
                <a href="/xync/shipin/index.html">开奖直播</a>
                <a href="/xync/zonghe/index.html">综合路珠分析</a>
                <a href="/xync/heshudanshuangluzhu/index.html">合数单双路珠</a>
                <a href="/xync/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/xync/zongheluzhu/index.html">总和路珠</a>
                <a href="/xync/weishudaxiaoluzhu/index.html">尾数大小路珠</a>
                <a href="/xync/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/xync/zhongfabailuzhu/index.html">中发白路珠</a>
                <a href="/xync/dongnanxibeiluzhu/index.html">东南西北路珠</a>
                <a href="/xync/haomaluzhu/index.html">号码路珠</a>
                <a href="/xync/haomatongji/index.html">历史号码统计</a>
                <a href="/xync/shuangmian/index.html">单双大小历史</a>
                <a href="/xync/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/xync/zoushitu/index.html">横版走势图</a>
                <a href="/xync/touzhu/index.html">两面投注参考</a>
                <a href="/xync/jiqiao/index.html">幸运农场技巧</a>
            </div>
            <!-- <div class="tab-content">
                <a href="/sdc/index.html">圣地彩</a>
                <a href="/sdc/kaijiang/index.html">历史开奖号码</a>
                <a href="/sdc/yilou/index.html">号码遗漏统计</a>
                <a href="/sdc/zonghe/index.html">综合路珠分析</a>
                <a href="/sdc/haomaluzhu/index.html">号码路珠</a>
                <a href="/sdc/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/sdc/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/sdc/zongheluzhu/index.html">总和路珠</a>
                <a href="/sdc/shuangmian/index.html">单双大小历史</a>
                <a href="/sdc/haomatongji/index.html">历史号码统计</a>
                <a href="/sdc/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/sdc/touzhu/index.html">两面投注参考</a>
                <a href="/sdc/zoushitu/index.html">横版走势图</a>
                <a href="/sdc/jiqiao/index.html">圣地彩技巧</a>
            </div> -->
            <div class="tab-content">
                <a href="/gd11x5/index.html">广东11选5</a>
                <a href="/gd11x5/kaijiang/index.html">历史开奖号码</a>
                <a href="/gd11x5/shipin/index.html">开奖视频</a>
                <a href="/gd11x5/zonghe/index.html">综合路珠分析</a>
                <a href="/gd11x5/yilou/index.html">号码遗漏统计</a>
                <a href="/gd11x5/haomaluzhu/index.html">号码路珠</a>
                <a href="/gd11x5/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/gd11x5/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/gd11x5/zongheluzhu/index.html">总和路珠</a>
                <a href="/gd11x5/shuangmian/index.html">单双大小历史</a>
                <a href="/gd11x5/haomatongji/index.html">历史号码统计</a>
                <a href="/gd11x5/touzhu/index.html">两面投注参考</a>
                <a href="/gd11x5/zoushitu/index.html">横版走势图</a>
                <a href="/gd11x5/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/gd11x5/jiqiao/index.html">广东11选5技巧</a>
            </div>
            <div class="tab-content">
                <a href="/kl8/index.html">快乐8</a>
                <a href="/kl8/kaijiang/index.html">历史开奖号码</a>
                <a href="/kl8/zongheluzhu/index.html">总和路珠</a>
                <a href="/kl8/oddevenluzhu/index.html">奇偶盘路珠</a>
                <a href="/kl8/shangxialuzhu/index.html">上下盘路珠</a>
                <a href="/kl8/shipin/index.html">开奖视频</a>
                <a href="/kl8/jiqiao/index.html">快乐8技巧</a>
            </div>
            <div class="tab-content">
                <a href="/pcdd/index.html">PC蛋蛋</a>
                <a href="/pcdd/kaijiang/index.html">历史开奖号码</a>
                <a href="/pcdd/shipin/index.html">开奖视频</a>
                <a href="/pcdd/zongheluzhu/index.html">总和路珠</a>
                <a href="/pcdd/boseluzhu/index.html">波色路珠</a>
                <a href="/pcdd/jiqiao/index.html">PC蛋蛋技巧</a>
            </div>
            <div class="tab-content">
                <a href="/jsk3/index.html">江苏快3</a>
                <a href="/jsk3/kaijiang/index.html">历史开奖号码</a>
                <a href="/jsk3/shipin/index.html">开奖视频</a>
                <a href="/jsk3/yilou/index.html">号码遗漏统计</a>
                <a href="/jsk3/haomaluzhu/index.html">号码路珠</a>
                <a href="/jsk3/zongheluzhu/index.html">总和路珠</a>
                <a href="/jsk3/haomatongji/index.html">历史号码统计</a>
                <a href="/jsk3/zoushitu/index.html">横版走势图</a>
                <a href="/jsk3/jiqiao/index.html">江苏快3技巧</a>
            </div>
            <div class="tab-content">
				<a href="/xjssc/index.html">新疆时时彩</a>
                <a href="/xjssc/kaijiang/index.html">历史开奖号码</a>
                <a href="/xjssc/shipin/index.html">开奖视频</a>
                <a href="/xjssc/zonghe/index.html">综合路珠分析</a>
                <a href="/xjssc/yilou/index.html">号码遗漏统计</a>
                <a href="/xjssc/haomaluzhu/index.html">号码路珠</a>
                <a href="/xjssc/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/xjssc/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/xjssc/zongheluzhu/index.html">总和路珠</a>
                <a href="/xjssc/shuangmian/index.html">单双大小历史</a>
                <a href="/xjssc/haomatongji/index.html">历史号码统计</a>
                <a href="/xjssc/touzhu/index.html">两面投注参考</a>
                <a href="/xjssc/zoushitu/index.html">横版走势图</a>
                <a href="/xjssc/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/xjssc/jiqiao/index.html">新疆时时彩技巧</a>
            </div>
            <div class="tab-content">
                <a href="/tjssc/index.html">天津时时彩</a>
                <a href="/tjssc/kaijiang/index.html">历史开奖号码</a>
                <a href="/tjssc/shipin/index.html">开奖视频</a>
                <a href="/tjssc/zonghe/index.html">综合路珠分析</a>
                <a href="/tjssc/yilou/index.html">号码遗漏统计</a>
                <a href="/tjssc/haomaluzhu/index.html">号码路珠</a>
                <a href="/tjssc/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/tjssc/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/tjssc/zongheluzhu/index.html">总和路珠</a>
                <a href="/tjssc/shuangmian/index.html">单双大小历史</a>
                <a href="/tjssc/haomatongji/index.html">历史号码统计</a>
                <a href="/tjssc/touzhu/index.html">两面投注参考</a>
                <a href="/tjssc/zoushitu/index.html">横版走势图</a>
                <a href="/tjssc/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/tjssc/jiqiao/index.html">天津时时彩技巧</a>
            </div>
            <div class="tab-content">
                <a href="/jx11x5/index.html">江西11选5</a>
                <a href="/jx11x5/kaijiang/index.html">历史开奖号码</a>
                <a href="/jx11x5/shipin/index.html">开奖视频</a>
                <a href="/jx11x5/zonghe/index.html">综合路珠分析</a>
                <a href="/jx11x5/yilou/index.html">号码遗漏统计</a>
                <a href="/jx11x5/haomaluzhu/index.html">号码路珠</a>
                <a href="/jx11x5/longhuluzhu/index.html">龍虎路珠</a>
                <a href="/jx11x5/shuangmianluzhu/index.html">单双大小路珠</a>
                <a href="/jx11x5/zongheluzhu/index.html">总和路珠</a>
                <a href="/jx11x5/shuangmian/index.html">单双大小历史</a>
                <a href="/jx11x5/haomatongji/index.html">历史号码统计</a>
                <a href="/jx11x5/touzhu/index.html">两面投注参考</a>
                <a href="/jx11x5/zoushitu/index.html">横版走势图</a>
                <a href="/jx11x5/shuangmianzoushitu/index.html">单双大小走势图</a>
                <a href="/jx11x5/jiqiao/index.html">江西11选5技巧</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="edge">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 edge-each text-center">
                    <span class="img collect"></span>
                    <div class="title text-left">专业<span class="highlight">数据采集</span><br><span
                            class="content">绝对精准数据获取</span></div>
                </div>
                <div class="col-xs-4 edge-each text-center">
                    <span class="img analyze"></span>
                    <div class="title text-left">专业<span class="highlight">数据分析</span><br><span
                            class="content">千余员工倾力奉献</span></div>
                </div>
                <div class="col-xs-4 edge-each text-center">
                    <span class="img experience"></span>
                    <div class="title text-left">专注<span class="highlight">用户体验</span><br><span
                            class="content">十六年专业保证</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-box">
        <div class="container">
            <div class="row">
                <div class="description">开奖直播是专业的北京赛车pk10开奖直播网站，每日直播北京赛车pk10开奖179期，自上线以来密切关注北京赛车pk10开奖直播并时刻保持快速和稳定的用户体验</div>
                <div class="copyright">© 2015-2018 开奖直播 版权所有</div>
            </div>
        </div>
    </div>
</footer>
<div class="container copyright-wrap">
    <div class="float-side">
        <a href="/downloads" class="float-item" rel="nofollow" title="APP下载">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <div class="word">APP下载</div>
        </a>
        <div class="float-item scroll-to-top" id="scroll-to-top" title="回到顶部">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <div class="word">TOP</div>
        </div>
    </div>
</div>
<div id="feedBack" class="modal fade bs-example-modal-lg" tabindex="-1"
    role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog feedBack-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-commenting-o"
                        aria-hidden="true"></i> 提交反馈信息</h4>
            </div>
            <div class="modal-body">
                <div><span class="text-primary">*</span>您的反馈建议是我们前进的最大动力</div>
                <div class="feedBack-content">
                    <textarea name="feedBack" id="feedBack-val" rows="8"
                        placeholder="用心对待每一个反馈" maxlength="200"></textarea>
                    <div class="limit"><span class="words">0</span>/200</div>
                </div>
                <div class="text-center text-primary feedBack-tips">请填写反馈内容</div>
            </div>
            <div class="modal-footer">
                <button id="feedBack-commit" type="button" class="btn
                    bg-primary">提交</button>
            </div>
            <div class="success-tips">
                <i class="fa fa-check" aria-hidden="true"></i> 反馈成功
            </div>
        </div>
    </div>
</div>
<script>
    var __icp__ = {
        token: '12341234'
    }
</script>
<script src="/static/assets/dist/vendor/vendor1d9d.js?123161"></script>
<script src="/static/assets/dist/js/all2.js?123161"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d4ffd229efb2969ea7d7a893027448b1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>