<div class="container lobby-skill">
<div class="row">
<div class="col-xs-7 skill">
<div class="title">
<img src="/static/assets/dist/img/lottery-logo/${cat.alias!}.png" class="logo" alt="">
<span>${cat.name!}技巧</span>
<a href="/${cat.alias!}/jiqiao/">更多 <strong>+</strong></a>
</div>
<div class="list">
<ul class="col-xs-6">
<#if artList??>
<#list artList as art>
<#if (art_index <4)>
<li><span class="spot"></span><a href="/jiqiao/${art.id?c}.html" target="newWindow" title="${art.title!}">${art.title!}</a>
<span class="time"><#if art.createDate??>${art.createDate?string('yyyy-MM-dd')}</#if></span>
</li>
</#if>
</#list>
</#if>
</ul>
<ul class="col-xs-6">
<#if artList??>
<#list artList as art>
<#if (art_index >3)>
<li><span class="spot"></span><a href="/jiqiao/${art.id?c}.html" target="newWindow" title="${art.title!}">${art.title!}</a>
<span class="time"><#if art.createDate??>${art.createDate?string('yyyy-MM-dd')}</#if></span>
</li>
</#if>
</#list>
</#if>
</ul>
</div>
</div>
<div class="col-lg-5 about">
<div class="title">
<img src="/assets/dist/img/lottery-logo/${cat.alias!}.png" class="logo" alt="">
<span>关于${cat.name!}</span>
</div>
<div class="content">
${cat.description!}
</div>
</div>
</div>
</div>