<ul class="lottery-menu">
	<li class="<#if lottory_type=='pk10'>active</#if>"><a href="/pk10/">北京赛车PK10</a></li>
	<li class="<#if lottory_type=='shishicai'>active</#if>"><a href="/shishicai/">重庆时时彩</a></li>
	<li class="<#if lottory_type=='gdkl10'>active</#if>"><a href="/gdkl10/">广东快乐十分</a></li>
	<li class="<#if lottory_type=='xyft'>active</#if>"><a href="/xyft/">幸运飞艇</a></li>
	<li class="<#if lottory_type=='xync'>active</#if>"><a href="/xync/">幸运农场</a></li>
	<li class="<#if lottory_type=='gd11x5'>active</#if>"><a href="/gd11x5/">广东11选5</a></li>
	<li class="<#if lottory_type=='kl8'>active</#if>"><a href="/kl8/">快乐8</a></li>
	<li class="<#if lottory_type=='pcdd'>active</#if>"><a href="/pcdd/">PC蛋蛋</a></li>
	<li class="<#if lottory_type=='jsk3'>active</#if>"><a href="/jsk3/">江苏快3</a></li>
	<li class="<#if lottory_type=='xjssc'>active</#if>"><a href="/xjssc/">新疆时时彩</a></li>
	<li class="<#if lottory_type=='tjssc'>active</#if>"><a href="/tjssc/">天津时时彩</a></li>
	<li class="<#if lottory_type=='jx11x5'>active</#if>"><a href="/jx11x5/">江西11选5</a></li>
	<li class="<#if lottory_type=='6hc'>active</#if>"><a href="/6hc/">六合彩</a></li>
	<!-- <li class="nonactive"><a>&nbsp;</a></li> -->
</ul>