<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>北京赛车pk10,北京赛车pk10开奖直播,北京赛车pk10技巧 - 开奖直播</title>
<meta name="keywords" content="北京赛车pk10, pk10开奖直播, 北京赛车pk10技巧">
<meta name="description" content="北京赛车pk10频道提供北京赛车pk10专业的最新开奖,开奖数据历史,开奖直播视频,投注技巧,遗漏,走势图，全力为彩民提供所有需要的数据。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">

<div class="container-fluid main">
<div class="row">
<#include "/wap/pk10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top"></div>
<#include "/wap/pk10/rightmenu.html">

<div id="all" v-cloak>
<div class="menu-title">
号码前后路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.“前”表示号码开出在前5名，“后”表示号码开出在后5名。</li>
</ul>
</div>
</div>
<div class="j-records">

<div v-for="item in numArr" class="container lobby-record" :class="'t_'+ item">
<div class="table-responsive">
<table class="table table-bordered text-right">
<tbody>
<tr style="background: #fff;">
<td>
<span>
今日号码累计：<span class="text-primary">前（{{hmqhlz.jrlj['num_' +item]['num_' +item+ '_q']}}） 后（{{hmqhlz.jrlj['num_' +item]['num_' +item+ '_h']}}）</span>
号码{{item}}
</span>
</td>
</tr>
</tbody>
</table>
</div>
<div class="table-responsive">
<table class="table table-bordered text-center table-vertical">
<tbody>
<tr valign="top">
<td v-for="item2 in hmqhlz.sxplz['num_' +item]" :class="item%2==0?'even':'odd'">
<span v-for="item3 in item2.split('')" :class="item3.indexOf('前')>-1?'high-light-red':'high-light-blue'">{{item3}}</span>
</td>
</tr>
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
        	el: '#all',
            data: {
            	hmqhlz: [], 
            	numArr: ["1","2","3","4","5","6","7","8","9","10"],
           	},
            methods: {
            	getData: function(){
            		SULX.get(apipk10.bjsc_hmqhlz,function(status,res) {
            			vm.hmqhlz = JSON.parse(res).data;            			
            		});
            	},            	
            },
        	created: function() {
        		this.$options.methods.getData(); 
            },            
            
        });
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>