<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link <#if lottory_func==''>cur</#if>" href="index.html">六合彩</a>
<a class="link <#if lottory_func=='kaijiang'>cur</#if> " href="/m/6hc/kaijiang/index.html">历史开奖号码</a>
<a class="link <#if lottory_func=='shipin'>cur</#if> " href="/m/6hc/shipin/index.html">开奖直播</a>
<a class="link <#if lottory_func=='chzhfx'>cur</#if>" href="/m/6hc/chzhfx/index.html">出号综合分析</a>
<a class="link <#if lottory_func=='tmsxzs'>cur</#if> " href="/m/6hc/tmsxzs/index.html">特码生肖走势</a>
<a class="link <#if lottory_func=='tmbszs'>cur</#if> " href="/m/6hc/tmbszs/index.html">特码波色走势</a>
<a class="link <#if lottory_func=='tmdszs'>cur</#if> " href="/m/6hc/tmdszs/index.html">特码单双走势</a>
<a class="link <#if lottory_func=='tmdwzs'>cur</#if> " href="/m/6hc/tmdwzs/index.html">特码段位走势</a>
<a class="link <#if lottory_func=='tmtszs'>cur</#if> " href="/m/6hc/tmtszs/index.html">特码头数走势</a>
<a class="link <#if lottory_func=='tmwszs'>cur</#if> " href="/m/6hc/tmwszs/index.html">特码尾数走势</a>
<a class="link <#if lottory_func=='tmwxzs'>cur</#if> " href="/m/6hc/tmwxzs/index.html">特码五行走势</a>

</div>
</div>
</div>