
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
<title>六合彩走势图</title>
<meta name="keywords" content="pk10北京赛车">
<meta name="description"
	content="pk10北京赛车路珠分析频道专门为pk10北京赛车的玩家提供专业的pk10北京赛车路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/common/header.html">
<link rel="stylesheet" href="/static/css/6hcbase.css">
<link rel="stylesheet" href="/static/css/6hczst.css">
<style>
    [v-cloak] {
        opacity: 0 !important;
    }
</style>
</head>
<body id="page-top" style="min-width: 1200px;">

	<nav id="mainNav" class="navbar navbar-default">
		<#include "/common/nav.html">
	</nav>
	<div class="lobby-head">
		<div class="container">
			<div class="row">
				<div class="content">
					<#include "/common/menu.html">
					<div class="lottery-tips" id="j-lottery-tips" style='display: none'>
						<i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span
							class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a
							href="javascript:location.reload();">手动刷新</a>
					</div>
					<div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
						data-m="advertisement"></div>
					<div style="font-size: 14px" class="lottery-list">
                        <a class="item" href="index.html">六合开奖</a>
                        <a class="item" href="shipin">开奖视频</a>
                        <a class="item" href="chzhfx">出号综合分析</a>
                        <a class="item" href="tmsxzs">特码生肖走势</a>
                        <a class="item" href="tmbszs">特码波色走势</a>
                        <a class="item" href="tmdszs">特码单双走势</a>
                        <a class="item" href="tmdwzs">特码段位走势</a>
                        <a class="item" href="tmbszs">特码头数走势</a>
                        <a class="item" href="tmwszs">特码尾数走势</a>
                        <a class="item active" href="tmwxzs">特码五行走势</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 40px;" v-cloak id="con">
            <TABLE class="zstable">
                    <tr style="background:#efefef;">
                        <td width="70">期数</td>
                        <td width="40">特码</td>
                        <td width="40">五行</td>
                        <td>金</td>
                        <td>木</td>
                        <td>水</td>
                        <td>火</td>
                        <td>土</td>
                    </tr>
                    <tr style="background:#ffc;" class="bold red">
                        <td>出现次数</td>
                        <td> </td>
                        <td> </td>
                        <td v-for="item in bscs">{{item?item+'次':'00'+'次'}}</td>
                    </tr>
                    
                   
                    
                <tr v-for="(item, index) in juti" onMouseOut="this.style.backgroundColor=''" onMouseOver="this.style.backgroundColor='#ffffcc'">
                <td>{{item.qs}}</td>
                <td style="background:#ffc;"><span :class="[whatColor(item), 'F']">{{item.tm}}</span></td>
                <td class="Blue">{{item.wx}}</td>
                <td :class="{hui_color: true, Red_boll1: item.jinyl === 0}">{{item.jinyl?item.jinyl:item.wx}}</td>
                <td :class="{hui_color: true, Red_boll1: item.muyl === 0}">{{item.muyl?item.muyl:item.wx}}</td>
                <td :class="{hui_color: true, Red_boll1: item.shuiyl === 0}">{{item.shuiyl?item.shuiyl:item.wx}}</td>
                <td :class="{hui_color: true, Red_boll1: item.huoyl === 0}">{{item.huoyl?item.huoyl:item.wx}}</td>
                <td :class="{hui_color: true, Red_boll1: item.tuyl === 0}">{{item.tuyl?item.tuyl:item.wx}}</td>
                </tr>
            </TABLE>
	</div>

	<script>
		var vm = new Vue({
			el : '#con',
			data : {
                bscs: [],
                juti: []
			},
			methods : {
                whatColor: function(item) {
                    if(item.bs === 'red') {
                        return 'Red_bg'
                    } else if(item.bs === 'blue') {
                        return 'Blue_bg'
                    } else {
                        return 'Green_bg'
                    }
                }, 
                otherColor: function(item) {
                    if(item.wx === '红') {
                        return 'Red'
                    } else if(item.wx === '蓝') {
                        return 'Blue'
                    } else {
                        return 'Green'
                    }
                }, 
				getData: function(index, timer) {
                    // this.num.splice(0);
                    SULX.get(api6hc.lhc_wxzs, function(std, data) {                  
                        var short = [];
                        var result = JSON.parse(data).data;
                        vm.bscs = result.wxcs;
                        vm.juti = result.wxzs;
                        console.log(result);
                    })
				},
			},
			created : function() {
				this.getData();
			},
		})
	</script>
	<#include "/common/foot.html">
</body>
</html>