<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link  <#if lottory_func==''>cur</#if>" href="/m/kl8/index.html">快乐8</a>
<a class="link  <#if lottory_func=='kaijiang'>cur</#if>" href="/m/kl8/kaijiang/index.html">历史开奖号码</a>
 <a class="link  <#if lottory_func=='zongheluzhu'>cur</#if>" href="/m/kl8/zongheluzhu/index.html">总和路珠</a>
<a class="link  <#if lottory_func=='oddevenluzhu'>cur</#if>" href="/m/kl8/oddevenluzhu/index.html">奇偶盘路珠</a>
<a class="link  <#if lottory_func=='shangxialuzhu'>cur</#if>" href="/m/kl8/shangxialuzhu/index.html">上下盘路珠</a>
<a class="link  <#if lottory_func=='jiqiao'>cur</#if>" href="/m/kl8/jiqiao/index.html">快乐8技巧</a>
</div>
</div>
</div>