<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>广东快乐十分尾数大小路珠分析 - 开奖直播</title>
<meta name="keywords" content="广东快乐十分开奖视频, 广东快乐十分开奖号码, 广东快乐十分技巧，广东快乐十分计划软件">
<meta name="description" content="广东快乐十分路珠分析频道专门为广东快乐十分的玩家提供专业的广东快乐十分路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html"><body>
<#include "/wap/common/nav.html">

<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/gdkl10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/gdkl10/rightmenu.html">
<div class="menu-title">
尾数大小路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当中断连续开出同一结果时，则另起一列显示结果；</li>
<li>3.尾数大指开出号码的个位大于或等于5为尾大，小于或等于4为尾小。</li>
</ul>
</div>
</div>

<div id="all" v-cloak>
        <div class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num1-da']}}）
                                        小（{{wsData['num1-xiao']}}） </span></span>
                                第一球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num1" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num2-da']}}）
                                        小（{{wsData['num2-xiao']}}） </span></span>
                                第二球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num2" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num3-da']}}）
                                        小（{{wsData['num3-xiao']}}） </span></span>
                                第三球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num3" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num4-da']}}）
                                        小（{{wsData['num4-xiao']}}） </span></span>
                                第四球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num4" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num5-da']}}）
                                        小（{{wsData['num5-xiao']}}） </span></span>
                                第五球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num5" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num6-da']}}）
                                        小（{{wsData['num6-xiao']}}） </span></span>
                                第六球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num6" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num7-da']}}）
                                        小（{{wsData['num7-xiao']}}） </span></span>
                                第七球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num7" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num8-da']}}）
                                        小（{{wsData['num8-xiao']}}） </span></span>
                                第八球尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.num8" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_9">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 大（{{wsData['num-da']}}）
                                        小（{{wsData['num-xiao']}}） </span></span>
                                总和尾数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in wsData.total" :class="{even: item[0] === '大',odd: item[0] === '小'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '大', 'high-light-red': items === '小' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
            el: '#all', //el 
            data: {
                wsData: {},
            },
            methods: { //click事件
                getData: function() {
                	SULX.get(apikl10.gdklsf_wsdxlz,function(std,data) {
                        var result = JSON.parse(data).data;
                        vm.wsData = result;
                        }
                    )
                }
            },
            created: function() { 
                this.getData();
            },
        })
    </script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>