<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
        <title>北京赛车pk10龙虎路珠分析</title>
        <meta name="keywords" content="北京赛车pk10, pk10开奖直播, 北京赛车pk10技巧">
        <meta name="description" content="北京赛车pk10路珠分析频道专门为北京赛车pk10的玩家提供专业的北京赛车pk10彩路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
        <#include "/common/header.html">
    </head>
    <body id="page-top" style="min-width: 1200px;">

        <nav id="mainNav" class="navbar navbar-default">
        <#include "/common/nav.html">
        </nav>
        <div class="lobby-head">
            <div class="container">
                <div class="row">
                    <div class="content">
                    	<#include "/common/menu.html">
                        <#include "/pk10/kaijiang.html">
                        <div class="lottery-tips" id="j-lottery-tips"
                            style='display: none'>
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            	温馨提示：<span class="j-periods"></span>开奖结果未获取,
                            	继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
                        </div>
                        <div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
                            data-m="advertisement">
                        </div>
                        <div class="lottery-list">
                            <a class="item"href="../index.html">北京赛车pk10</a>
                            <a class="item"href="../kaijiang/index.html">pk10开奖</a>
                            <a class="item"href="../shipin/index.html">pk10开奖直播</a>
                            <a class="item"href="../yilou/index.html">号码遗漏统计</a>
                            <a class="item"href="../zonghe/index.html">综合路珠分析</a>
                            <a class="item"href="../shuangmianluzhu/index.html">单双大小路珠</a>
                            <a class="item"href="../haomaluzhu/index.html">号码前后路珠</a>
                            <a class="item active" href="index.html">龍虎路珠</a>
                            <a class="item"href="../longhu/index.html">龍虎历史</a>
                            <a class="item"href="../guanyaheluzhu/index.html">冠、亚和路珠</a>
                            <a class="item"href="../guanyahe/index.html">冠亚和历史</a>
                            <a class="item"href="../guanyaheyilou/index.html">冠亚和遗漏</a>
                            <a class="item"href="../shuangmian/index.html">单双大小历史</a>
                            <a class="item"href="../shuangmianzoushitu/index.html">单双大小走势图</a>
                            <a class="item"href="../touzhu/index.html">两面投注参考</a>
                            <a class="item"href="../zoushitu/index.html">横版走势图</a>
                            <a class="item"href="../jiqiao/index.html">pk10技巧</a>
                            <a class="item"href="../changlongday/index.html">每日长龙</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container dns">
            <div class="alert alert-warning">
                如果您访问本网站无故跳转到其他网站，证明您的网络已经被劫持，请修改您的DNS或查看防劫持教程
                <a href="http://icp.6001ms.com/?name=icp" target="_blank">点击查看防劫持教程</a>
            </div>
        </div>
        <div class="container number-filter-title" style="padding: 10px 15px;">
            <ul class="list j-checklist" id="ball-choose" data-name="pk10_lhlz">
                <li data-c="1">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>冠军</label>
                    </span>
                </li>
                <li data-c="2">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>亚军</label>
                    </span>
                </li>
                <li data-c="3">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第三名</label>
                    </span>
                </li>
                <li data-c="4">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第四名</label>
                    </span>
                </li>
                <li data-c="5">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第五名</label>
                    </span>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-default
                    dropdown-toggle" data-toggle="dropdown">
                    使用说明<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
                    <li>2.当长龙中断时，则另起一列显示结果；</li>
                    <li>3.龙虎说明：</li>
                    <li><b>冠 军龙/虎</b>：“第一名”车号大于“第十名”车号视为【龙】中奖、反之小于视为【虎】中奖；</li>
                    <li><b>亚 军龙/虎</b>：“第二名”车号大于“第九名”车号视为【龙】中奖、反之小于视为【虎】中奖；</li>
                    <li><b>第三名龙/虎</b>：“第三名”车号大于“第八名”车号视为【龙】中奖、反之小于视为【虎】中奖；</li>
                    <li><b>第四名龙/虎</b>：“第四名”车号大于“第七名”车号视为【龙】中奖、反之小于视为【虎】中奖；</li>
                    <li><b>第五名龙/虎</b>：“第五名”车号大于“第六名”车号视为【龙】中奖、反之小于视为【虎】中奖。</li>
                </ul>
            </div>
            <div class="right-btns">
                <span class="all-ball j-checkall" data-index="0">全选</span>
                <span class="clear-ball j-checkclear" data-index="0">清空</span>
            </div>
        </div>
        <div v-cloak id="all">
        <div data-job="replace" class="j-records">
                <div class="container lobby-record t_1">
                        <div class="table-responsive">
                            <table class="table table-bordered text-right">
                                <tr style="background: #f6f6f6;">
                                    <td>
                                        <span>
                                            今日累计：<span class="text-primary">龍（{{lhData['num1-long']}}） 虎（{{lhData['num1-hu']}}）</span>
                                            第一球龍虎
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center
                                table-vertical">
                                <tr valign="top">
                                        <td v-for="item in lhData.num1" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                                <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                            </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <div class="container lobby-record t_2">
                    <div class="table-responsive">
                        <table class="table table-bordered text-right">
                            <tr style="background: #f6f6f6;">
                                <td>
                                    <span>
                                        今日累计：<span class="text-primary">龍（{{lhData['num2-long']}}） 虎（{{lhData['num2-hu']}}）</span>
                                        第二球龍虎
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center
                            table-vertical">
                            <tr valign="top">
                                    <td v-for="item in lhData.num2" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                            <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                        </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container lobby-record t_3">
                    <div class="table-responsive">
                        <table class="table table-bordered text-right">
                            <tr style="background: #f6f6f6;">
                                <td>
                                    <span>
                                        今日累计：<span class="text-primary">龍（{{lhData['num3-long']}}） 虎（{{lhData['num3-hu']}}）</span>
                                        第三球龍虎
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center
                            table-vertical">
                            <tr valign="top">
                                    <td v-for="item in lhData.num3" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                            <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                        </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="container lobby-record t_4">
                    <div class="table-responsive">
                        <table class="table table-bordered text-right">
                            <tr style="background: #f6f6f6;">
                                <td>
                                    <span>
                                        今日累计：<span class="text-primary">龍（{{lhData['num4-long']}}） 虎（{{lhData['num4-hu']}}）</span>
                                        第四球龍虎
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center
                            table-vertical">
                            <tr valign="top">
                                    <td v-for="item in lhData.num4" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                            <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                        </td>
                            </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                    <div class="table-responsive">
                        <table class="table table-bordered text-right">
                            <tr style="background: #f6f6f6;">
                                <td>
                                    <span>
                                        今日累计：<span class="text-primary">龍（{{lhData['num5-long']}}） 虎（{{lhData['num5-hu']}}）</span>
                                        第五球龍虎
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered text-center
                            table-vertical">
                            <tr valign="top">
                                <td v-for="item in lhData.num5" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                    <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>
<#include "/common/foot.html">
    <script>
            var vm = new Vue({
                el: '#all',
                data: {
                    timerName: [],
                    lhData: [],
                    gameData: {},
                    paiming: [],
                    minite: 0,
                    seconds: 0,
                    dqqs: '',
                    xqqs: '',
                    timeFlag: true, //
                    numFlag: true, //两个flag控制开奖时的“开奖中。。。”提示
                },
                methods: {
                    getData: function() {
                    	SULX.get(apipk10.bjsc_lhlz,function(std,data) {
                                var result = JSON.parse(data).data;
                                vm.lhData = result;
                            }
                        )
                    },
                },
                created: function() {
                    this.getData();
                },
            })    
        </script>
</body>
</html>