<!DOCTYPE html>
<html>
<head>
    <title>文章表</title>
	<#include "/header.html">
	<script type="text/javascript" charset="utf-8" src="${request.contextPath}/statics/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${request.contextPath}/statics/plugins/ueditor/ueditor.all.min.js"> </script>    
    <script type="text/javascript" charset="utf-8" src="${request.contextPath}/statics/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function(action) {
            if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
                return '${request.contextPath}/ueditor/imgUpload';//为方法imgUpload的访问地址
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }
    </script>
</head>
<body>
<section class="content">
      <div class="row">
        <div class="col-md-2 table-bordered" style="width:170px;" >
        	栏目列表
          	<ul id="categoryTree" class="ztree"></ul>
        </div>
        <!-- /.col -->
        <div class="col-md-10">          	
			<div id="rrapp" v-cloak>
			    <div v-show="showList">
			        <div class="grid-btn">
				        <div class="form-group col-sm-2">
			                <input type="text" class="form-control" v-model="q.title" @keyup.enter="query" placeholder="标题名称">
			            </div>
			            <a class="btn btn-default" @click="query">查询</a>
						<#if shiro.hasPermission("cms:article:save")>
			            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
						</#if>
						<#if shiro.hasPermission("cms:article:update")>
			            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
						</#if>
						<#if shiro.hasPermission("cms:article:delete")>
			            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
						</#if>
						<#if shiro.hasPermission("cms:article:update")>
			            <a class="btn btn-primary" @click="batchHtml"><i class="fa fa-html5"></i>&nbsp;全部生成HTML</a>
						</#if>
						<#if shiro.hasPermission("cms:article:update")>
			            <a class="btn btn-primary" @click="getStatus"><i class="fa fa-html5"></i>&nbsp;查询生成HTML状态</a>
						</#if>
						<!-- <#if shiro.hasPermission("cms:article:update")>
			            <a class="btn btn-primary" @click="spiderContent"><i class="fa fa-html5"></i>&nbsp;爬取内容</a>
						</#if> -->
			        </div>
			        <table id="jqGrid"></table>
			        <div id="jqGridPager"></div>
			    </div>
			    <div v-show="!showList" class="panel panel-default">
			        <div class="panel-heading">{{title}}</div>
			        <form class="form-horizontal">
								<div class="form-group">
			                        <div class="col-sm-2 control-label">选择栏目</div>
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" v-model="cmsArticle.categoryName" placeholder="栏目编号" @click="categoryTree" readonly="readonly" style="cursor:pointer;"/>
			                        </div>
			                    </div>
								<div class="form-group">
			                        <div class="col-sm-2 control-label">文章标题</div>
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" v-model="cmsArticle.title" placeholder="标题"/>
			                        </div>
			                    </div>							
								
								<!-- <div class="form-group">
			                        <div class="col-sm-2 control-label">文章图片</div>
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" v-model="cmsArticle.image" placeholder="文章图片"/>
			                        </div>
			                    </div> -->
								<div class="form-group">
			                        <div class="col-sm-2 control-label">关键字</div>
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" v-model="cmsArticle.keywords" placeholder="关键字"/>
			                        </div>
			                    </div>
								<div class="form-group">
			                        <div class="col-sm-2 control-label">描述、摘要</div>
			                        <div class="col-sm-10">
			                        	<textarea rows="4" class="form-control" placeholder="描述、摘要" v-model="cmsArticle.description"></textarea>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-2 control-label">点击数</div>
			                        <div class="col-sm-10">
			                            <input type="text" class="form-control" v-model="cmsArticle.hits" placeholder="点击数"/>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-2 control-label">文章来源</div>
			                        <div class="col-sm-10">
			                            <input id="cmsArticleArticleDataCopyfrom" type="text" class="form-control" placeholder="请输入文章来源"/>
			                        </div>
			                    </div>
			                    <div class="form-group">
			                        <div class="col-sm-2 control-label">文章内容</div>
			                        <div class="col-sm-10">
										<script id="editor" type="text/plain" style="width:800px;height:300px;"></script>
			                        </div>
			                    </div>
								<div class="form-group">
			                        <div class="col-sm-2 control-label">备注信息</div>
			                        <div class="col-sm-10">
			                        	<textarea rows="4" class="form-control" v-model="cmsArticle.remarks" placeholder="备注信息"></textarea>
			                        </div>
			                    </div>					
						<div class="form-group">
			                <div class="col-sm-2 control-label"></div>
			                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			            </div>
			        </form>
			    </div>
			</div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
</section>
<div id="categoryLayer" style="display: none;padding:10px;">
	<ul id="categoryTree2" class="ztree"></ul>
</div>
<script src="${request.contextPath}/statics/js/modules/cms/cmsarticle.js?_${.now?long}"></script>
</body>
</html>