<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>北京赛车pk10,北京赛车pk10开奖直播,北京赛车pk10技巧 - 开奖直播</title>
<meta name="keywords" content="北京赛车pk10, pk10开奖直播, 北京赛车pk10技巧">
<meta name="description" content="北京赛车pk10频道提供北京赛车pk10专业的最新开奖,开奖数据历史,开奖直播视频,投注技巧,遗漏,走势图，全力为彩民提供所有需要的数据。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
<style>

</style>
</head>
<body style="overflow-y: scroll;">

<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">

<div class="container-fluid main">
<div class="row">
<#include "/wap/pk10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top"></div>
<#include "/wap/pk10/rightmenu.html">

<div id="all" v-cloak>
<div class="lobby-record">
<div class="title">
<span>开奖记录</span>
<a href="/m/pk10/kaijiang/" class="more">查看全部<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
<div >
<table class="table text-center j-numslist">
<thead>
<tr>
<td class="first">时间</td>
<td class="second">开奖号码</td>
</tr>
</thead>
<tbody>

<tr v-for="item in kjjl">
<td>
<div class="period">{{getTerms(item.periods)}} 期</div>
<div class="time">{{buildHM(item.starttime)}}</div>
</td>
<td>
<div class="content-box rn-pk10">
<div class="lottery-num">
<div class="item-container">
		<div v-for="num in item.rank" :class="['item-style-sm', 'spe-'+num]">
			<p>{{num}}</p>
		</div>
	</div>
<!-- <i v-for="num in item.rank" :class="'j-num'+num+' num-status-'+num" :data-n="num"></i> -->
</div>
<div class="lottery-analysis">
<span class="analysis">{{item.gyhSum}}</span>

<span class="analysis" :class="hasKey(item.zhDs,'单')?'highlight':''">{{item.gyhDs}}</span>
<span class="analysis" :class="hasKey(item.wDx,'大')?'highlight':''">{{item.gyhDx}}</span>
<span class="analysis" :class="hasKey(item.wDx,'尾大')?'highlight':''">{{item.lh1}}</span>
<span class="analysis" :class="hasKey(item.lh1,'龙')?'highlight':''">{{item.lh2}}</span>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
        	el: '#all',
            data: {
            	kjjl:[],
            	
           	},
            methods: {
            	hasKey:function(key){
            		if(typeof key != "undefined" ){
            			if(key.indexOf(key)>0){
            				return true
            			}else{
            				return false;
            			}            			
            		}
            	},
            	getData: function(){
            		SULX.get(apipk10.bjsc_kjjl,function(status,res) {
            			var data = JSON.parse(res).data;  
            			vm.kjjl.splice(0);
            			for(item in data){
            				if(item <10){            					
                				for(item2 in data[item]){                					
                    				vm.kjjl.push(data[item][item2]);
                				}	
            				}            				
            			}            			
            		});
            	},
            	getTerms: function(item){
            		if(item){
            			return item.substring(item.length -3);
            		}
            		return "";
            	},
            	buildHM: function(time1){
    				if(time1){
    					return formatDate(new Date(time1),"hh:mm");
    				}else{
    					return "";
    				}
    			},
            },
        	created: function() {
        		this.$options.methods.getData(); 
            },
        });
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>