<div v-cloak id="kaijContainer" class="lobby-header" data-m="mlobby" data-title="北京赛车PK10"
  data-periods="179" data-id="1" data-url="pk10" data-mobile="true">
  <div class="info" data-m="advertisement">
    <div class="name bottom-menu-icon" id="bottom-menu-icon">
      <span class="word">北京赛车PK10</span><i class="fa fa-angle-down"
        aria-hidden="true"></i>
    </div>
    <a class="live hide" href="/m/pk10/shipin">
      <span class="icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></span>开奖直播
    </a>
  </div>
  <div class="content">
    <img src="/static/wap/assets/dist/img/lottery-logo/pk10.png" class="logo">
    <div class="title">
      <span class="period">第<span class="num">{{dqqs}}</span>期</span>
      <span class="time pull-right">下期开奖：<span class="num j-next-timer">{{minite}}:{{seconds}}</span></span>
    </div>
    <div class="lottery-num motion-num">
      <i v-for="num in zxkj.dqhm" :class="'icp-pk10-' +num+ '-sm'">{{num}}</i>
      <div class="lotterying">
        <img src="/static/wap/assets/dist/img/lottery-loading.gif"
          class="loading">正在开奖中...
      </div>
    </div>
  </div>
  <div class="lottery-tips" id="j-lottery-tips" style="display: none">
    <i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span
      class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a
      href="javascript:location.reload();">手动刷新</a>
  </div>
  <div class="list">
    <a href="/m/pk10/jiqiao/" class="item col-xs-4"><i class="icp-skill-m icon"></i>玩法技巧</a>
    <a href="/m/pk10/zoushitu/" class="item col-xs-4"><i class="icp-chart-m
        icon"></i>走势图</a>
    <a href="#" class="item col-xs-4" id="i-am-feeling-lucky"><i
        class="icp-try-m icon"></i>试试手气</a>
  </div>
</div>
<script type="text/javascript">
var kjvm = new Vue({
	el:'#kaijContainer',
	data:{
		zxkj:{},
		minite: "00",
        seconds: "00",
        timeFlag: true,
		dqqs: null,
		xqqs: null,
		reqCount:0,
	},
	methods:{
		getTerms:function(str){
			if(str){
				str = str + "";
				str = str.substring(str.length -3);
				return parseInt(str);
			}else{
				return "";
			}						
		},
		getNewGame: function() {
						SULX.get(apipk10.bjsc_zxkj,function(std,data) {
								var result = JSON.parse(data).data;
								var localTimer = JSON.parse(data).timestamp;
								kjvm.dqqs = result.dqqs;
								var otherClick;
                                kjvm.xqqs = result.xqqs;
								kjvm.zxkj =result;
                                //kjvm.paiming.splice(0); //更新号码存放的数组
                                var timer = Math.ceil((result.xqkjsj - localTimer)/1000); 
                                if(timer === 0||timer < 0) {									
									kjvm.timeFlag = false; 
									//延时30s,等待开奖,然后在请求最新开奖数据
			                       	if(kjvm.reqCount==0){
			                       		otherClick = setTimeout(function() {
			                       			kjvm.reqCount++;
			                       			kjvm.$options.methods.getNewGame();                    		
			        	                    },30000);
			                       	}else{//30秒后，每隔5秒请求一次数据
			                       		otherClick = setTimeout(function() { 
			                       			kjvm.reqCount++;
			                                	kjvm.$options.methods.getNewGame();
			        	                    },5000);
			                       	}
                                    
                                } else {
									try {                                        
                                      	//延时刷新数据
                                        setTimeout(function(){
                                        	vm.$options.methods.getData();
                                        	vm.$forceUpdate();//强制重新绘制
                                        },500);                                        
                                    }catch(e){}	
                                    clearTimeout(otherClick);
                                    kjvm.reqCount=0;
                                    //kjvm.$options.methods.draw(); //重绘线图 页面没有可注释
									// if(result.syqs === 0) {  //最后一期的时间
									// 	min = '00'; 
									// 	scd = '00';
									// 	return false;
									// } else {
										kjvm.timeFlag = true; 
										var min = Math.floor(timer/60);
										var scd = Math.ceil(timer%60);
									
                                    var click = setInterval(
                                        function() {
                                            kjvm.minite = min;
                                            kjvm.seconds = scd;
                                            if((min+'').length === 1) {
                                                kjvm.minite = '0'+min     //加个0
                                            }
                                            if((scd+'').length === 1) {
                                                kjvm.seconds = '0'+scd
                                            }
                                            scd --;
                                            if((min === 0&&scd === 0)||min <0) {
                                                clearInterval(click);
												kjvm.$options.methods.getNewGame();
                                                // vm.$options.methods.draw(vm.flag);
                                            } else {
                                                if(scd < 0) {
                                                    min --;
                                                    scd = 59;
                                                }
                                            }
                                        }
                                    ,1000)
                                }
                                // vm.gameData = result;
                            }
                        )
                    },		
		
	},	
	created: function() {
		this.getNewGame();
    },
});
</script>