<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link <#if lottory_func==''>cur</#if>" href="/m/pk10/">北京赛车pk10</a>
<a class="link <#if lottory_func=='kaijiang'>cur</#if>" href="/m/pk10/kaijiang/">pk10开奖</a>
<a class="link <#if lottory_func=='shipin'>cur</#if>" href="/m/pk10/shipin/">开奖直播</a>
<a class="link <#if lottory_func=='yilou'>cur</#if>" href="/m/pk10/yilou/">号码遗漏统计</a>
<a class="link <#if lottory_func=='zonghe'>cur</#if>" href="/m/pk10/zonghe/">综合路珠分析</a>
<a class="link <#if lottory_func=='shuangmianluzhu'>cur</#if>" href="/m/pk10/shuangmianluzhu/">单双大小路珠</a>
<a class="link <#if lottory_func=='haomaluzhu'>cur</#if>" href="/m/pk10/haomaluzhu/">号码前后路珠</a>
<a class="link <#if lottory_func=='longhuluzhu'>cur</#if>" href="/m/pk10/longhuluzhu/">龍虎路珠</a>
<a class="link <#if lottory_func=='longhu'>cur</#if>" href="/m/pk10/longhu/">龍虎历史</a>
<a class="link <#if lottory_func=='guanyaheluzhu'>cur</#if>" href="/m/pk10/guanyaheluzhu/">冠、亚和路珠</a>
<a class="link <#if lottory_func=='guanyahe'>cur</#if>" href="/m/pk10/guanyahe/">冠亚和历史</a>
<a class="link <#if lottory_func=='guanyaheyilou'>cur</#if>" href="/m/pk10/guanyaheyilou/">冠亚和遗漏</a>
<a class="link <#if lottory_func=='shuangmian'>cur</#if>" href="/m/pk10/shuangmian/">单双大小历史</a>
<a class="link <#if lottory_func=='shuangmianzoushitu'>cur</#if>" href="/m/pk10/shuangmianzoushitu/">单双大小走势图</a>
<a class="link <#if lottory_func=='touzhu'>cur</#if>" href="/m/pk10/touzhu/">两面投注参考</a>
<a class="link <#if lottory_func=='zoushitu'>cur</#if>" href="/m/pk10/zoushitu/">横版走势图</a>
<a class="link <#if lottory_func=='jiqiao'>cur</#if>" href="/m/pk10/jiqiao/">pk10技巧</a>
</div>
</div>
</div>