<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>广东快乐十分合数单双路珠分析 - 开奖直播</title>
<meta name="keywords" content="广东快乐十分开奖视频, 广东快乐十分开奖号码, 广东快乐十分技巧，广东快乐十分计划软件">
<meta name="description" content="广东快乐十分路珠分析频道专门为广东快乐十分的玩家提供专业的广东快乐十分路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html"><body>
<#include "/wap/common/nav.html">

<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/gdkl10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/gdkl10/rightmenu.html">
<div class="menu-title">
合数单双路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.开出号码个位与十位相加的合为单数时为合数单，反之为合数双。</li>
</ul>
</div>
</div>

 <div id="all" v-cloak>
        <div class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num1-dan']}}）
                                        双（{{hsData['num1-shuang']}}） </span></span>
                                第一球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in hsData.num1" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num2-dan']}}）
                                        双（{{hsData['num2-shuang']}}） </span></span>
                                第二球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="item in hsData.num2" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                    <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num3-dan']}}）
                                        双（{{hsData['num3-shuang']}}） </span></span>
                                第三球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num3" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num4-dan']}}）
                                        双（{{hsData['num4-shuang']}}） </span></span>
                                第四球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num4" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num5-dan']}}）
                                        双（{{hsData['num5-shuang']}}） </span></span>
                                第五球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num5" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num6-dan']}}）
                                        双（{{hsData['num6-shuang']}}） </span></span>
                                第六球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num6" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num7-dan']}}）
                                        双（{{hsData['num7-shuang']}}） </span></span>
                                第七球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num7" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 单（{{hsData['num8-dan']}}）
                                        双（{{hsData['num8-shuang']}}） </span></span>
                                第八球合数
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in hsData.num8" :class="{even: item[0] === '单',odd: item[0] === '双'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '单', 'high-light-red': items === '双' }">{{items}}</span>
                                    </td>
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
            el: '#all', //el 
            data: {
                hsData: {},
            },
            methods: { //click事件
                getData: function() {
                	SULX.get(apikl10.gdklsf_hsdslz,function(std,data) {
                        var result = JSON.parse(data).data;
                        vm.hsData = result;
                        }
                    )
                }
            },
            created: function() { 
                this.getData()
            },
           
        })
</script> 
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">   
</body>
</html>