<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>北京赛车pk10,北京赛车pk10开奖直播,北京赛车pk10技巧</title>
<meta name="keywords" content="北京赛车pk10, pk10开奖直播, 北京赛车pk10技巧">
<meta name="description" content="北京赛车pk10频道提供北京赛车pk10专业的最新开奖,开奖数据历史,开奖直播视频,投注技巧,遗漏,走势图，全力为彩民提供所有需要的数据。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">

<div class="container-fluid main">
<div class="row">
<#include "/wap/pk10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top"></div>
<#include "/wap/pk10/rightmenu.html">
<div class="menu-title">
横版走势图
</div>
<style type="text/css">
.highcharts-legend {
    display: none !important;
}
.highcharts-credits {
    display: none !important;
}
.btn-spe {
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #000;
    text-align: center;
    margin-right: 9px;
    cursor: pointer;
}
.btn-other {
    background: #d94136;
    border: 1px solid #d94136 !important;
    color: #fff !important;
}
.btn-spe p {
    font-size: 15px;
    line-height: 26px;
    color: inherit;
}
</style>

<div id="all" v-cloak>
<div class="container lobby-chart" style="height: auto;">
<div class="row">
<div class="trends-tab" id="j-trends-tab">
<div class="btn-group " role="group" id="j-trends-nav">
<button role="button" class="btn btn-default" data-type="1" @click="getData(0)" :class="{'btn-danger': show1}">位置走势图</button>
<button role="button" class="btn btn-default" data-type="2" @click="hmzs(0)" :class="{'btn-danger': show2}">号码走势图</button>
<button role="button" class="btn btn-default" data-type="3" @click="gyh(0)" :class="{'btn-danger': show3}">冠亚和走势图</button>
</div>
</div>
<div class="chart-content" id="j-chart-container">
<div class="chart-btn" id="j-chart">
<span v-show="show1" class="btn" role="button" v-for="(item,index) in numPos" @click="getData(index)" :class="index === flag?'active':''">{{item}}</span>
<span v-show="show2" class="btn" role="button" v-for="(item,index) in num" @click="hmzs(index)" :class="index === flag?'active':''">{{item}}</span>

</div>
<div class="chart" style="height: 290px;">
<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
<div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
</div>
<div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
<div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
</div>
</div>
<div id="container" style="margin-top:30px;width: inherit;height:386px;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>   
<script type="text/javascript">
        var vm = new Vue({
            el: '#all',
            data: {
                show1: true,
                show2: false,
                show3: false,
                buttonFlag: 0,
                numPos: ['冠军', '亚军', '第三名', '第四名', '第五名', '第六名', '第七名', '第八名', '第九名', '第十名'],
                num: ['号码一', '号码二', '号码三', '号码四', '号码五', '号码六', '号码七', '号码八', '号码九', '号码十'],
                flag: 0,
                gameData: {},
                paiming: [],
                minite: 0,
                seconds: 0,
                dqqs: '',
                xqqs: '',
                timeFlag: true, //
                numFlag: true, //两个flag控制开奖时的“开奖中。。。”提示
                
            },
            methods: {
                gyh: function(index) {
                    this.show1 = false;
                    this.show2 = false;
                    this.show3 = true;
                    if(index === undefined) {
                        index = 0;
                    }
                    this.flag = index;
                    SULX.get(apipk10.bjsc_gyhzst, function(std,data) {
                        var result = JSON.parse(data).data;
                        var timer = [];
                        var chartData = [];
                        for(j in result) {
                        timer.push(j.substr(j.length-2,2)); //截取key生成期数
                        chartData.push(Number(result[j])); //数据必须是number
                        }

                        var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'spline',
                            height: 300,
                            // width: '1400'
                        },
                        title: {
                            text: 'pk10横板走势图', //tubiao biaoti
                            align: 'left'
                        },
                        xAxis: {
                            categories: timer
                        },
                        yAxis: {
                            title: '',
                            tickPositions: [0,5,10,15,20],  //y轴数据
                            
                        },
                        tooltip: {
                            useHTML: true,
                            headerFormat: '<span style=";">{point.key}期:{point.y}</span>',
                            backgroundColor: '#666',   // 背景颜色
                            // borderColor: 'black',         // 边框颜色
                            borderRadius: 10,             // 边框圆角
                            borderWidth: 0,
                            display: 'flex', 
                            shadow: false,                 
                            animation: false,      
                            pointFormatter: function() {
                            return '<span style=" color: #fff;>期<span>';
                            },
                            style: {  
                                width: '70px',
                                height: '30px',   
                                        // 文字内容相关样式
                                color: "rgba(255,255,255,0.8)",
                                fontSize: "12px",
                                fontWeight: "blod",
                                fontFamily: "Courir new"
                            }
                        },
                        plotOptions: {
                            spline: {
                                dataLabels: {
                                    // 开启数据标签
                                    // color: '#666',
                                    crop: false,
                                    overflow: 'none',
                                    verticalAlign: 'bottom',
                                    enabled: true          
                                },
                                // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                                enableMouseTracking: true
                            }
                        },
                        series: [
                            {
                            name: '',
                            color: '#5073a3',
                            data: chartData
                            }
                        ]
                        
                        });
                        }
                    )
                },
                hmzs: function(index) {
                    this.show1 = false;
                    this.show2 = true;
                    this.show3 = false;
                    if(index === undefined) {
                        index = 0;
                    }
                    this.flag = index;
                    SULX.get(apipk10.bjsc_hmzst, function(std,data) {
                        var result = JSON.parse(data).data[index+1];
                        var timer = [];
                        var chartData = [];
                        for(j in result) {
                        timer.push(j.substr(j.length-2,2)); //截取key生成期数
                        chartData.push(Number(result[j])); //数据必须是number
                        }

                        var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'spline',
                            height: 300,
                            // width: '1400'
                        },
                        title: {
                            text: 'pk10横板走势图', //tubiao biaoti
                            align: 'left'
                        },
                        xAxis: {
                            categories: timer
                        },
                        yAxis: {
                            title: '',
                            tickPositions: [0,1,2,3,4,5,6,7,8,9,10],  //y轴数据
                            // categories: [0,150,200]
                            labels: {
                                    formatter: function() {
                                        switch(this.value) {
                                            case 1: 
                                                return '冠军'
                                                break;
                                            case 2:
                                                return '亚军'
                                                break;
                                            case 3: 
                                                return '第三名'
                                                break;
                                            case 4:
                                                return '第四名'
                                                break;
                                            case 5:
                                                return '第五名'
                                                break; 
                                            case 6:
                                                return '第六名'
                                                break;
                                            case 7:
                                                return '第七名'
                                                break;
                                            case 8:
                                                return '第八名'
                                                break;
                                            case 9:
                                                return '第九名'
                                                break;
                                            case 10:
                                                return '第十名'
                                                break;
                                        }
                                    }
                                }
                        },
                        tooltip: {
                            useHTML: true,
                            headerFormat: '<span style=";">{point.key}期:{point.y}</span>',
                            backgroundColor: '#666',   // 背景颜色
                            // borderColor: 'black',         // 边框颜色
                            borderRadius: 10,             // 边框圆角
                            borderWidth: 0,
                            display: 'flex', 
                            shadow: false,                 
                            animation: false,      
                            pointFormatter: function() {
                            return '<span style=" color: #fff;>期<span>';
                            },
                            style: {  
                                width: '70px',
                                height: '30px',   
                                        // 文字内容相关样式
                                color: "rgba(255,255,255,0.8)",
                                fontSize: "12px",
                                fontWeight: "blod",
                                fontFamily: "Courir new"
                            }
                        },
                        plotOptions: {
                            spline: {
                                dataLabels: {
                                    // 开启数据标签
                                    // color: '#666',
                                    crop: false,
                                    overflow: 'none',
                                    verticalAlign: 'bottom',
                                    enabled: true          
                                },
                                // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                                enableMouseTracking: true
                            }
                        },
                        series: [
                            {
                            name: '',
                            color: '#5073a3',
                            data: chartData
                            }
                        ]
                        
                        });
                        }
                    )
                },
                getData: function (index, num) {
                    this.show1 = true;
                    this.show2 = false;
                    this.show3 = false;
                    var zst = [apipk10.bjsc_zst, apipk10.bjsc_hmzst, apipk10.bjsc_gyhzst]
					if( index == undefined ){
						index=0;
					}
                    if(num === undefined) {
                        num = 0;
                    }
                    this.flag = index;
                    SULX.get(zst[num], function(std,data) {
                        var result = JSON.parse(data).data;
                        console.log(result);
                        var test1 = result['num'+(index+1)];
                        var timer = [];
                        var chartData = [];
                        for(j in test1) {
                        timer.push(j.substr(j.length-2,2)); //截取key生成期数
                        chartData.push(Number(test1[j])); //数据必须是number
                        }

                        var chart = Highcharts.chart('container', {
                        chart: {
                            type: 'spline',
                            height: 300,
                            // width: '1400'
                        },
                        title: {
                            text: 'pk10横板走势图', //tubiao biaoti
                            align: 'left'
                        },
                        xAxis: {
                            categories: timer
                        },
                        yAxis: {
                            title: '',
                            tickPositions: [0, 5, 10],  //y轴数据
                            // categories: [0,150,200]
                        },
                        tooltip: {
                            useHTML: true,
                            headerFormat: '<span style=";">{point.key}期:{point.y}</span>',
                            backgroundColor: '#666',   // 背景颜色
                            // borderColor: 'black',         // 边框颜色
                            borderRadius: 10,             // 边框圆角
                            borderWidth: 0,
                            display: 'flex', 
                            shadow: false,                 
                            animation: false,      
                            pointFormatter: function() {
                            return '<span style=" color: #fff;>期<span>';
                            },
                            style: {  
                                width: '70px',
                                height: '30px',   
                                        // 文字内容相关样式
                                color: "rgba(255,255,255,0.8)",
                                fontSize: "12px",
                                fontWeight: "blod",
                                fontFamily: "Courir new"
                            }
                        },
                        plotOptions: {
                            spline: {
                                dataLabels: {
                                    // 开启数据标签
                                    // color: '#666',
                                    crop: false,
                                    overflow: 'none',
                                    verticalAlign: 'bottom',
                                    enabled: true          
                                },
                                // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                                enableMouseTracking: true
                            }
                        },
                        series: [
                            {
                            name: '',
                            color: '#5073a3',
                            data: chartData
                            }
                        ]
                        
                        });
                        }
                    )
                }
            },
            created: function() {
                this.$options.methods.getData(0);
            },
        })
    </script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>