<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>广东快乐十分龙虎路珠分析 - 开奖直播</title>
<meta name="keywords" content="广东快乐十分开奖视频, 广东快乐十分开奖号码, 广东快乐十分技巧，广东快乐十分计划软件">
<meta name="description" content="广东快乐十分路珠分析频道专门为广东快乐十分的玩家提供专业的广东快乐十分路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html"><body>
<#include "/wap/common/nav.html">

<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/gdkl10/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/gdkl10/rightmenu.html">
<div class="menu-title">
龙虎路珠
<div class="dropdown pull-right">
<i class="fa fa-question-circle-o dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
<ul class="dropdown-menu" role="menu">
<li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
<li>2.当长龙中断时，则另起一列显示结果；</li>
<li>3.龙虎说明：</li>
<li><b>第一球 龙/虎</b>：“第一球”号码大于“第八球”号码视为【龙】中奖、反之小于视为【虎】中奖；</li>
<li><b>第二球 龙/虎</b>：“第二球”号码大于“第七球”号码视为【龙】中奖、反之小于视为【虎】中奖；</li>
<li><b>第三球 龙/虎</b>：“第三球”号码大于“第六球”号码视为【龙】中奖、反之小于视为【虎】中奖；</li>
<li><b>第四球 龙/虎</b>：“第四球”号码大于“第五球”号码视为【龙】中奖、反之小于视为【虎】中奖</li>
</ul>
</div>
</div>

<div id="all" v-cloak>
        <div class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日累计：<span class="text-primary">龍（{{lhData['num1-long']}}） 虎（{{lhData['num1-hu']}}）</span>
                                    第一球龍虎
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in lhData.num1" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日累计：<span class="text-primary">龍（{{lhData['num2-long']}}） 虎（{{lhData['num2-hu']}}）</span>
                                    第二球龍虎
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in lhData.num2" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日累计：<span class="text-primary">龍（{{lhData['num3-long']}}） 虎（{{lhData['num3-hu']}}）</span>
                                    第三球龍虎
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in lhData.num3" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>
                                    今日累计：<span class="text-primary">龍（{{lhData['num4-long']}}） 虎（{{lhData['num4-hu']}}）</span>
                                    第四球龍虎
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="item in lhData.num4" :class="{even: item[0] === '龍',odd: item[0] === '虎'}">
                                        <span v-for="items in item" :class="{'high-light-blue': items === '龍', 'high-light-red': items === '虎' }">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
        var vm = new Vue({
            el: '#all', //el 
            data: {
                lhData: {},

            },
            methods: { //click事件
                getData: function() {
                	SULX.get(apikl10.gdklsf_lhlz,function(std,data) {
                        var result = JSON.parse(data).data;
                        vm.lhData = result;
                        }
                    );
                }
            },
            created: function() { 
                this.getData();
            },
        })
    </script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html">
</body>
</html>