<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link <#if lottory_func==''>cur</#if>" href="/m/gdkl10">快乐十分</a>
<a class="link <#if lottory_func=='kaijiang'>cur</#if>" href="/m/gdkl10/kaijiang/index.html">历史开奖号码</a>
<a class="link <#if lottory_func=='heshudanshuangluzhu'>cur</#if>" href="/m/gdkl10/heshudanshuangluzhu/index.html">合数单双路珠</a>
<a class="link <#if lottory_func=='longhuluzhu'>cur</#if>" href="/m/gdkl10/longhuluzhu/index.html">龍虎路珠</a>
<a class="link <#if lottory_func=='zongheluzhu'>cur</#if>" href="/m/gdkl10/zongheluzhu/index.html">总和路珠</a>
<a class="link <#if lottory_func=='weishudaxiaoluzhu'>cur</#if>" href="/m/gdkl10/weishudaxiaoluzhu/index.html">尾数大小路珠</a>
<a class="link <#if lottory_func=='shuangmianluzhu'>cur</#if>" href="/m/gdkl10/shuangmianluzhu/index.html">单双大小路珠</a>
<a class="link <#if lottory_func=='zhongfabailuzhu'>cur</#if>" href="/m/gdkl10/zhongfabailuzhu/index.html">中发白路珠</a>
<a class="link <#if lottory_func=='dongnanxibeiluzhu'>cur</#if>" href="/m/gdkl10/dongnanxibeiluzhu/index.html">东南西北路珠</a>
<a class="link <#if lottory_func=='haomaluzhu'>cur</#if>" href="/m/gdkl10/haomaluzhu/index.html">号码路珠</a>
<a class="link <#if lottory_func=='haomatongji'>cur</#if>" href="/m/gdkl10/haomatongji/index.html">历史号码统计</a>
<a class="link <#if lottory_func=='shuangmian'>cur</#if>" href="/m/gdkl10/shuangmian/index.html">单双大小历史</a>
<a class="link <#if lottory_func=='zoushitu'>cur</#if>" href="/m/gdkl10/zoushitu/index.html">横版走势图</a>
<a class="link <#if lottory_func=='shuangmianzoushitu'>cur</#if>" href="/m/gdkl10/shuangmianzoushitu/index.html">单双大小走势图</a>
<a class="link <#if lottory_func=='touzhu'>cur</#if>" href="/m/gdkl10/touzhu/index.html">两面投注参考</a>
<a class="link <#if lottory_func=='jiqiao'>cur</#if>" href="/m/gdkl10/jiqiao/index.html">快乐十分技巧</a>
</div>
</div>
</div>