<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
        <title>广东快乐十分东南西北路珠分析</title>
        <meta name="keywords" content="广东快乐十分开奖视频, 广东快乐十分开奖号码,广东快乐十分技巧，广东快乐十分计划软件">
        <meta name="description" content="广东快乐十分路珠分析频道专门为广东快乐十分的玩家提供专业的广东快乐十分路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
        <#include "/common/header.html">        
    </head>
    <body id="page-top" style="min-width: 1200px;">

        <nav id="mainNav" class="navbar navbar-default">
       	<#include "/common/nav.html">
       	</nav>
        <div class="lobby-head">
            <div class="container">
                <div class="row">
                    <div class="content">
                    	<#include "/common/menu.html"> 
                        <#include "/gdkl10/kaijiang.html">
                        <div class="lottery-tips" id="j-lottery-tips"
                            style='display: none'>
                            <i class="fa fa-volume-up" aria-hidden="true"></i>
                            温馨提示：<span class="j-periods"></span>开奖结果未获取,
                            继续等待自动更新或 <a href="javascript:location.reload();">手动刷新</a>
                        </div>
                        <div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
                            data-m="advertisement">
                        </div>
                        <div class="lottery-list">
                            <a class="item"href="../index.html">快乐十分</a>
                            <a class="item"href="../kaijiang/index.html">历史开奖号码</a>
                            <a class="item"href="../shipin/index.html">开奖视频</a>
                            <a class="item"href="../zonghe/index.html">综合路珠分析</a>
                            <a class="item"href="../heshudanshuangluzhu/index.html">合数单双路珠</a>
                            <a class="item"href="../longhuluzhu/index.html">龍虎路珠</a>
                            <a class="item"href="../zongheluzhu/index.html">总和路珠</a>
                            <a class="item"href="../weishudaxiaoluzhu/index.html">尾数大小路珠</a>
                            <a class="item"href="../shuangmianluzhu/index.html">单双大小路珠</a>
                            <a class="item"href="../zhongfabailuzhu/index.html">中发白路珠</a>
                            <a class="item active" href="index.html">东南西北路珠</a>
                            <a class="item"href="../haomaluzhu/index.html">号码路珠</a>
                            <a class="item"href="../haomatongji/index.html">历史号码统计</a>
                            <a class="item"href="../shuangmian/index.html">单双大小历史</a>
                            <a class="item"href="../zoushitu/index.html">横版走势图</a>
                            <a class="item"href="../shuangmianzoushitu/index.html">单双大小走势图</a>
                            <a class="item"href="../touzhu/index.html">两面投注参考</a>
                            <a class="item"href="../jiqiao/index.html">快乐十分技巧</a>
                            <a class="item"href="../changlongday/index.html">每日长龙</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container number-filter-title" style="padding: 10px 15px;">
            <ul class="list j-checklist" id="ball-choose"
                data-name="gdkl10_dnxblz">
                <li data-c="1">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第一球</label>
                    </span>
                </li>
                <li data-c="2">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第二球</label>
                    </span>
                </li>
                <li data-c="3">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第三球</label>
                    </span>
                </li>
                <li data-c="4">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第四球</label>
                    </span>
                </li>
                <li data-c="5">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第五球</label>
                    </span>
                </li>
                <li data-c="6">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第六球</label>
                    </span>
                </li>
                <li data-c="7">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第七球</label>
                    </span>
                </li>
                <li data-c="8">
                    <i class="icp-checkbox icp-checked"></i>
                    <span class="ckb-txt">
                        <label>第八球</label>
                    </span>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-default
                    dropdown-toggle" data-toggle="dropdown">
                    使用说明<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>1.表格需从左向右浏览，右侧一列为最新结果；</li>
                    <li>2.当中断连续开出中、发或白时，则另起一列显示结果；</li>
                    <li>
                        3.<b>東</b>：开出号码为01、05、09、13、17；<br />
                        <b>南</b>：开出号码为02、06、10、14、18；<br />
                        <b>西</b>：开出号码为03、07、11、15、19；<br />
                        <b>北</b>：开出号码为04、08、12、16、20。
                    </li>
                </ul>
            </div>
            <div class="right-btns">
                <span class="all-ball j-checkall" data-index="0">全选</span>
                <span class="clear-ball j-checkclear" data-index="0">清空</span>
            </div>
        </div>
        <div v-cloak id="all">
        <div data-job="replace" class="j-records">
            <div class="container lobby-record t_1">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num1-dong']}}）
                                        南（{{tableData['num1-nan']}}）西（{{tableData['num1-xi']}}） 北（{{tableData['num1-bei']}}） </span></span>
                                第一球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="(item,index) in tableData.num1" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                <span v-for="items in item" 
                                :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_2">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num2-dong']}}）
                                        南（{{tableData['num2-nan']}}）西（{{tableData['num2-xi']}}） 北（{{tableData['num2-bei']}}） </span></span>
                                第二球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="(item,index) in tableData.num2" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                        <span v-for="items in item" 
                                        :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                        :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_3">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num3-dong']}}）
                                        南（{{tableData['num3-nan']}}）西（{{tableData['num3-xi']}}） 北（{{tableData['num3-bei']}}） </span></span>
                                第三球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="(item,index) in tableData.num3" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                        <span v-for="items in item" 
                                        :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                        :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_4">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num4-dong']}}）
                                        南（{{tableData['num4-nan']}}）西（{{tableData['num4-xi']}}） 北（{{tableData['num4-bei']}}） </span></span>
                                第四球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="(item,index) in tableData.num4" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                        <span v-for="items in item" 
                                        :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                        :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_5">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num5-dong']}}）
                                        南（{{tableData['num5-nan']}}）西（{{tableData['num5-xi']}}） 北（{{tableData['num5-bei']}}） </span></span>
                                第五球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="(item,index) in tableData.num5" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                        <span v-for="items in item" 
                                        :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                        :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_6">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num6-dong']}}）
                                        南（{{tableData['num6-nan']}}）西（{{tableData['num6-xi']}}） 北（{{tableData['num6-bei']}}） </span></span>
                                第六球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="(item,index) in tableData.num6" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                <span v-for="items in item" 
                                :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_7">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num7-dong']}}）
                                        南（{{tableData['num7-nan']}}）西（{{tableData['num7-xi']}}） 北（{{tableData['num7-bei']}}） </span></span>
                                第七球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                            <td v-for="(item,index) in tableData.num7" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                    <span v-for="items in item" 
                                    :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                    :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container lobby-record t_8">
                <div class="table-responsive">
                    <table class="table table-bordered text-right">
                        <tr style="background: #f6f6f6;">
                            <td>
                                <span>今日累计：<span class="text-primary"> 东（{{tableData['num8-dong']}}）
                                        南（{{tableData['num8-nan']}}）西（{{tableData['num8-xi']}}） 北（{{tableData['num8-bei']}}） </span></span>
                                第八球方位
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered text-center
                        table-vertical">
                        <tr valign="top">
                                <td v-for="(item,index) in tableData.num8" :class="{odd: (index%2) === 1,even: (index%2) === 0}">
                                        <span v-for="items in item" 
                                        :class="{'high-light-blue': items === '南'||items === '西', 'high-light-green': items === '北', 'high-light-red': items === '东'}"
                                        :style="items === '西'?'color: #2d92c2':''">{{items}}</span>
                                    </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        </div>

<#include "/common/foot.html">
<script>
        var vm = new Vue({
            el: '#all',
            data: {
                tableData: [],
                timer: []
            },
            methods: {
                getData: function() {
                	SULX.get(apikl10.gdklsf_dnxblz,function(std,data) {
                        var result = JSON.parse(data).data;
                        vm.tableData = result;
                        }
                    )
                }
            },
            created: function() {
                this.getData();
            },
        })
    </script>
</body>
</html> 