
<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0">
<title>六合彩走势图</title>
<meta name="keywords" content="pk10北京赛车">
<meta name="description"
	content="pk10北京赛车路珠分析频道专门为pk10北京赛车的玩家提供专业的pk10北京赛车路珠分析.这里有专业的开奖数据统计、开奖直播视频。">
<#include "/common/header.html">
<link rel="stylesheet" href="/static/css/6hcbase.css">
<link rel="stylesheet" href="/static/css/6hczst.css">
<style>
    [v-cloak] {
        opacity: 0 !important;
    }
</style>
</head>
<body id="page-top" style="min-width: 1200px;">

	<nav id="mainNav" class="navbar navbar-default">
		<#include "/common/nav.html">
	</nav>
	<div class="lobby-head">
		<div class="container">
			<div class="row">
				<div class="content">
					<#include "/common/menu.html">
					<div class="lottery-tips" id="j-lottery-tips" style='display: none'>
						<i class="fa fa-volume-up" aria-hidden="true"></i> 温馨提示：<span
							class="j-periods"></span>开奖结果未获取, 继续等待自动更新或 <a
							href="javascript:location.reload();">手动刷新</a>
					</div>
					<div class="pay-show" data-pay="Icp_Pc_Lottery_Top"
						data-m="advertisement"></div>
					<div style="font-size: 14px" class="lottery-list">
                        <a class="item" href="index.html">六合开奖</a>
                        <a class="item" href="shipin">开奖视频</a>
                        <a class="item" href="chzhfx">出号综合分析</a>
                        <a class="item" href="tmsxzs">特码生肖走势</a>
                        <a class="item active" href="tmbszs">特码波色走势</a>
                        <a class="item" href="tmdszs">特码单双走势</a>
                        <a class="item" href="tmdwzs">特码段位走势</a>
                        <a class="item" href="tmtszs">特码头数走势</a>
                        <a class="item" href="tmwszs">特码尾数走势</a>
                        <a class="item" href="tmwxzs">特码五行走势</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 40px;" v-cloak id="con">
            <TABLE class="zstable">
                    <tr style="background:#efefef;">
                        <td width="70" rowspan="2">期数</td>
                        <td width="40" rowspan="2">特码</td>
                        <td width="40" rowspan="2">特肖</td>
                        <td colspan="3">波色走势</td>
                        <td colspan="6">半波走势</td>
                    </tr>
                    <tr style="background:#f9f9f9;">
                        <td width="126">红</td>
                        <td width="126">蓝</td>
                        <td width="126">绿</td>
                        <td width="76">红单</td>
                        <td width="76">蓝单</td>
                        <td width="76">绿单</td>
                        <td width="76">红双</td>
                        <td width="76">蓝双</td>
                        <td width="76">绿双</td>
                    </tr>
                    <tr style="background:#ffc;" class="red bold">
                        <td>出现次数</td>
                        <td> </td>
                        <td> </td>
                        <td v-for="item in bscs">{{item?item+'次':'00'+'次'}}</td>
                    </tr>
    
                    <!-- <tbody id="pagedata"> -->
    
                        <tr 
                        v-for="(item, index) in juti"
                            onMouseOut="this.style.backgroundColor=''"
                            onMouseOver="this.style.backgroundColor='#ffffcc'">
                            <td>{{item.qs}}</td>
                            <td style="background:#ffc;"><span :class="[whatColor(item), 'F']">{{item.tm}}</span></td>
                            <td class="Blue"><span :class="otherColor(item)">{{item.ys}}</span></td>
                            <td :class="{hui_color: true, Red_boll1: item.redyl === 0}" value="1">{{item.redyl?item.redyl:item.ys}}</td>
                            <td :class="{hui_color: true, Blue_boll1: item.blueyl === 0}">{{item.blueyl?item.blueyl:item.ys}}</td>
                            <td :class="{hui_color: true, Green_boll1: item.greenyl === 0}">{{item.greenyl?item.greenyl:item.ys}}</td>
                            <td :class="{hui_color: true, white: true, Red_boll1: item.redsigyl === 0}">{{item.redsigyl?item.redsigyl:'单'}}</td>
                            <td :class="{hui_color: true, white: true, Blue_boll1: item.bluesigyl === 0}">{{item.bluesigyl?item.bluesigyl:'单'}}</td>
                            <td :class="{hui_color: true, white: true, Green_boll1: item.greensigyl === 0}">{{item.greensigyl?item.greensigyl:'单'}}</td>
                            <td :class="{hui_color: true, white: true, Red_boll1: item.reddoubyl === 0}" value="1">{{item.reddoubyl?item.reddoubyl:'双'}}</td>
                            <td :class="{hui_color: true, white: true, Blue_boll1: item.bluedoubyl === 0}">{{item.bluedoubyl?item.bluedoubyl:'双'}}</td>
                            <td :class="{hui_color: true, white: true, Green_boll1: item.greendoubyl === 0}">{{item.greendoubyl?item.greendoubyl:'双'}}</td>
                        </tr>
                        
                </table>
	</div>

	<script>
		var vm = new Vue({
			el : '#con',
			data : {
                bscs: [],
                juti: []
			},
			methods : {
                whatColor: function(item) {
                    if(item.bs === 'red') {
                        return 'Red_bg'
                    } else if(item.bs === 'blue') {
                        return 'Blue_bg'
                    } else {
                        return 'Green_bg'
                    }
                }, 
                otherColor: function(item) {
                    if(item.ys === '红') {
                        return 'Red'
                    } else if(item.ys === '蓝') {
                        return 'Blue'
                    } else {
                        return 'Green'
                    }
                }, 
				getData: function(index, timer) {
                    // this.num.splice(0);
                    SULX.get(api6hc.lhc_bszs, function(std, data) {                  
                        var short = [];
                        var result = JSON.parse(data).data;
                        vm.bscs = result.bscs;
                        vm.juti = result.bszs;
                        console.log(result);
                    })
				},

			},
			created : function() {
				this.getData();
			},
		})
	</script>
	<#include "/common/foot.html">
</body>
</html>