<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>提供pk10技巧,时时彩技巧,广东快乐十分技巧,江苏骰宝快3技巧,幸运农场技巧等各种资讯技巧</title>
<meta name="keywords" content="彩票直播">
<meta name="description" content="提供pk10技巧,时时彩技巧,广东快乐十分技巧,江苏骰宝快3技巧,幸运农场技巧等各种资讯技巧">
<#include "/common/header.html">
</head>
<body id="page-top" style="min-width: 1200px;">
<nav id="mainNav" class="navbar navbar-default">
<#include "/common/nav.html">
</nav>
<div class="skill-box">
<!-- 一个栏目 -->
<#if categoryList??>
<#list categoryList as cat>
<div class="lottery-each">
<div class="name">
	${cat.name!}
	<a class="more" href="${ctxPath!}/jiqiao/${cat.alias!}/">更多 <strong>+</strong></a>
	<span class="line"></span>
</div>
<div class="head">
	<div class="title"><a href="${ctxPath!}/jiqiao/${cat.tuijianArtId?c}.html">${cat.tuijianTitle!}</a></div>
	<div class="desc">${cat.tuijianContent!}</div>
</div>
<ul class="list">
	<#if cat.artList??>
	<#list cat.artList as art>
	<li>
		<a href="${ctxPath!}/jiqiao/${art.id?c}.html" title="${art.title}" target="newWindow">
			<span class="spot"></span>
			<span class="word">${art.title!}</span>
			<span class="time"><#if art.createDate??>${art.createDate?string('MM-dd')}</#if></span>
		</a>
	</li>
	</#list>
	</#if>	
</ul>
</div>
</#list>
</#if>
</div>

<#include "/common/foot.html">
</body>
</html>