<!DOCTYPE html>
<html lang="zh">

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            maximum-scale=1.0, user-scalable=0">
        <title>开奖直播</title>
        <meta name="keywords" content="开奖直播">
        <meta name="description" content="开奖直播">
        <meta name="author" content="ICP">
        <#include "/common/header.html">



        </head>
        <body id="page-top" style="min-width: 1200px;">
            <nav id="mainNav" class="navbar navbar-default">
                <div class="container">
                    <div class="row">


                        <#include "/common/nav.html">
                    </div>

                </div>

            </nav>
            <div class="download-wrap" data-m="download">
                <div class="dw-page-1 section" data-section-name="dw-page-1">
                    <div class="dp-wrap">
                        <h2 class="dwp-text1 js-acpSlideIn acpSlideOut">自动追号APP</h2>
                        <h3 class="dwp-text2 js-acpBounceIn acpBounceOut">让生活变得更轻松</h3>
                        <h4 class="dwp-text3 js-acpBounceIn acpBounceOut">人生的成功，在于你敢否迈出关键的那一步</h4>
                        <div class="dwp-download">
                            <div class="dwp1-qr-code js-acpBounceIn
                                acpBounceOut">
                                <img
                                    src="../assets/dist/img/ercode.png"
                                    width="100%" height="100%" alt="下载" />
                                <span>扫二维码下载</span>
                            </div>
                            <a
                                href="itms-services:///?action=download-manifest&url=https://raw.githubusercontent.com/buttCar/kjzb2/master/acp.plist"
                                class="dwp1-ios js-acpBounceIn acpBounceOut
                                j-download-ios">
                                <i class="dwp1b-icon"></i>
                                <p class="dwp1b-wrap">
                                    <span class="dwp1bw-title">下载苹果版</span><br/>
                                </p>
                            </a>
                            <a
                                href="http://3000016.com/download/acp/acp.apk"
                                class="dwp1-android js-acpBounceIn acpBounceOut
                                j-download-android">
                                <i class="dwp1b-icon"></i>
                                <p class="dwp1b-wrap">
                                    <span class="dwp1bw-title">下载安卓版</span><br/>
                                </p>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="dw-page-3 section" data-section-name="dw-page-3">
                    <div class="dp-wrap">
                        <p class="dwp-title-wrap">
                            <span class="dwptw-title">计划推荐</span>
                            <i class="dwptw-line"></i>
                        </p>
                        <p class="dwp-content">
                            我们背靠强大的历史数据库，综合算法筛选，并由AI人工智能进行积分模拟推荐计划，跟对了，你就赢了！<br
                                />
                            倘若跟输了，我们也深感遗憾，人工智能也不可靠，还是那句话，我们是最好的！
                        </p>
                        <div class="dwp3-ai-man-wrap">
                            <i class="dwp3-ai-man js-AiManAni"></i>
                        </div>
                    </div>
                </div>

                <div class="dw-page-5 section" data-section-name="dw-page-5">
                    <div class="dp-wrap">
                        <p class="dwp-title-wrap">
                            <span class="dwptw-title">长龙提醒</span>
                            <i class="dwptw-line"></i>
                        </p>
                        <p class="dwp-content">
                            24小时也不漏过那么一次翻盘的机会<br />
                            我们为您提供了贴心的推送功能，您更多的只需配置好你的条件，只要有网络，都不会让您错过！
                        </p>
                        <i class="dw5-tips-laba js-slideInLeft slideOutLeft"
                            style="-webkit-animation-delay: 1.5s;
                            animation-delay: 1.5s;"></i>
                        <i class="dw5-tips-man js-slideInLeft slideOutLeft"
                            style="-webkit-animation-delay:
                            1.5s;animation-delay: 1.5s;"></i>
                        <i class="dw5-tips-phone js-acpSlideIn acpSlideOut"></i>
                        <i class="dw5-tips-text js-acpBounceIn acpBounceOut"
                            style="-webkit-animation-delay: 1s;animation-delay:
                            1s;"></i>
                    </div>
                </div>
            </div>

            <div class="dw-tips-wrap js-tips-wrap">
                <i class="dwtw-tips"></i>
            </div>

            <div class="app-download-tips">
                <div class="title">
                    安装提示
                    <div class="close j-close"><i class="icp-cancel"></i></div>
                </div>
                <div class="content">
                    <div class="step"><span class="num">1</span>
                        同意安装后，将自动在桌面上开始安装</div>
                    <img
                        src="../assets/dist/img/download/app-download-desktop.jpg"
                        class="desktop">
                    <div class="step"><span class="num">2</span>
                        同意完成后，首次打开APP需要信任下方的描述文件</div>
                    <img
                        src="../assets/dist/img/download/app-download-desktop2.png"
                        class="desktop2">
                    <div class="links">
                        <a
                            href="https://app.6hkb.com/app/match_InHouse_com6hkbapp.mobileprovision"
                            class="trust">去信任</a>
                        <a href="tutorial.html" target="_blank" class="details">详细教程></a>
                    </div>
                </div>
            </div>
            <#include "/common/foot.html">
            <footer>
                <div class="edge">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4 edge-each text-center">
                                <span class="img collect"></span>
                                <div class="title text-left">专业<span
                                        class="highlight">数据采集</span><br><span
                                        class="content">绝对精准数据获取</span></div>
                            </div>
                            <div class="col-xs-4 edge-each text-center">
                                <span class="img analyze"></span>
                                <div class="title text-left">专业<span
                                        class="highlight">数据分析</span><br><span
                                        class="content">千余员工倾力奉献</span></div>
                            </div>
                            <div class="col-xs-4 edge-each text-center">
                                <span class="img experience"></span>
                                <div class="title text-left">专注<span
                                        class="highlight">用户体验</span><br><span
                                        class="content">十六年专业保证</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copyright-box">
                    <div class="container">
                        <div class="row">

                        </div>
                    </div>
                </div>
            </footer>
        

        </body>
    </html>