<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
<title>天津时时彩基本走势,天津时时彩现场开奖视频 - 开奖直播</title>
<meta name="keywords" content="天津时时彩基本走势,天津时时彩现场开奖视频">
<meta name="description" content="天津时时彩频道提供天津时时彩开奖信息,开奖历史走势图,投注实用技巧,实时视频直播,好实用的软件,独家技术提供准确率高的投注参考。">
<#include "/wap/common/header.html">
<#include "/wap/common/chartcss.html">
<#include "/wap/common/cssjs.html">
</head>
<body>
<#include "/wap/common/nav.html">
<#include "/wap/common/leftmenu.html">
<#include "/wap/common/feedback.html">
<div class="container-fluid main">
<div class="row">
<#include "/wap/tjssc/kaijiang.html">
<div class="pay-show" data-pay="Icp_M_Lottery_Top">
</div>
<#include "/wap/tjssc/rightmenu.html">
<div class="lobby-record">
<div class="title">
<span>开奖记录</span>
<a href="kaijiang/index.html" class="more">查看全部<i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
<div id="all" v-cloak>
<table class="table text-center j-numslist">
<thead>


<tr v-for="item in kjjl">
<td>
<div class="period">{{getTerms(item.periods)}} 期</div>
<div class="time">{{buildHM(item.starttime)}}</div>
</td>
<td>
<div class="content-box">
<div class="lottery-num">
<i  v-for="num in item.rank" :class="'no-default '">{{num}}</i>
</div>
<div class="lottery-analysis">
<span class="analysis">{{item.gyhSum}}</span>
<span class="analysis" :class="hasKey(item.zhDs,'单')?'highlight':''">{{item.zhDs}}</span>
<span class="analysis" :class="hasKey(item.zhDx,'大')?'highlight':''">{{item.zhDx}}</span>
<span class="analysis" :class="hasKey(item.lh1,'龙')?'highlight':''">{{item.lh1}}</span>
<span class="analysis" >{{item.hs}}</span>
<span class="analysis" >{{item.zs}}</span>
<span class="analysis" >{{item.qs}}</span>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
        var vm = new Vue({
        	el: '#all',
            data: {
            	kjjl:[],            	
           	},
            methods: {
            	hasKey:function(str,key){
            		if(typeof key != "undefined" ){
            			if(str.indexOf(key)>-1){
            				return true
            			}else{
            				return false;
            			}
            		}
            	},
            	getData: function(){
            		SULX.get(apitjssc.tjssc_kjjl,function(status,res) {
            			var data = JSON.parse(res).data;   
            			vm.kjjl.splice(0);
            			for(item in data){
            				if(item <10){            					
                				for(item2 in data[item]){                					
                    				vm.kjjl.push(data[item][item2]);
                				}	
            				}            				
            			}
            		});
            	},
            	getTerms: function(item){
            		if(item){
            			return item.substring(item.length -2);
            		}
            		return "";
            	},
            	buildHM: function(time1){
    				if(time1){
    					return formatDate(new Date(time1),"hh:mm");
    				}else{
    					return "";
    				}
    			},
            },
        	created: function() {
        		this.$options.methods.getData(); 
            },
        });
</script>
<#include "/wap/common/bottommenu.html">
<#include "/wap/common/foot.html"></html>
