<div class="bottom-menu" id="bottom-menu">
<div class="mask"></div>
<div class="content content-lottery" data-active="${lottory_type}">
<a href="/m/pk10/" class="link <#if lottory_type=='pk10'>cur</#if>">北京赛车PK10 <i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/shishicai/" class="link <#if lottory_type=='shishicai'>cur</#if>">重庆时时彩<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/gdkl10/" class="link  <#if lottory_type=='gdkl10'>cur</#if>"">广东快乐十分<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/xyft/" class="link <#if lottory_type=='xyft'>cur</#if>"">幸运飞艇<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/xync/" class="link <#if lottory_type=='xync'>cur</#if>"">幸运农场<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/gd11x5/" class="link <#if lottory_type=='gd11x5'>cur</#if>"">广东11选5<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/kl8/" class="link <#if lottory_type=='kl8'>cur</#if>"">快乐8<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/pcdd/" class="link <#if lottory_type=='pcdd'>cur</#if>"">PC蛋蛋<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/jsk3/" class="link <#if lottory_type=='jsk3'>cur</#if>"">江苏快3<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/xjssc/" class="link  <#if lottory_type=='xjssc'>cur</#if>"">新疆时时彩<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/tjssc/" class="link  <#if lottory_type=='tjssc'>cur</#if>"">天津时时彩<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/jx11x5/" class="link <#if lottory_type=='jx11x5'>cur</#if>"">江西11选5<i class="fa fa-check" aria-hidden="true"></i></a>
<a href="/m/6hc/" class="link <#if lottory_type=='6hc'>cur</#if>"">六合彩<i class="fa fa-check" aria-hidden="true"></i></a>
</div>
</div>