<div id="feedBack" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
<div class="modal-dialog feedBack-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title"><i class="fa fa-commenting-o" aria-hidden="true"></i> 提交反馈信息</h4>
</div>
<div class="modal-body">
<div><span class="text-primary">*</span>您的反馈建议是我们前进的最大动力</div>
<div class="feedBack-content">
<textarea name="feedBack" id="feedBack-val" rows="8" placeholder="用心对待每一个反馈" maxlength="200"></textarea>
<div class="limit"><span class="words">0</span>/200</div>
</div>
<div class="text-center text-primary feedBack-tips">请填写反馈内容</div>
</div>
<div class="modal-footer">
<button id="feedBack-commit" type="button" class="btn bg-primary">提交</button>
</div>
<div class="success-tips">
<i class="fa fa-check" aria-hidden="true"></i> 反馈成功
</div>
</div>
</div>
</div>