<nav class="navbar nav-mobile-header" data-m="mobile">
<a href="/m/">
<script type="text/javascript">
//<![CDATA[
window.__mirage2 = {petok:"75e661bc70ac28336ae69751a29099025440f547-1533609730-1800"};
//]]>
</script>
<script type="text/javascript" src="/static/wap/assets/dist/js/mirage2.min.js?${.now?long?c}"></script>
<img data-cfsrc="/static/assets/dist/img/logo.png" class="logo" alt="开奖直播" src="/static/assets/dist/img/logo.png">
</a>
<div class="left-menu-icon" id="left-menu-icon">
<i class="fa fa-bars" aria-hidden="true"></i>
</div>

</nav>