<div class="right-menu" id="right-menu">
<div class="mask"></div>
<div class="content">
<div class="lottery-list">
<a class="link <#if lottory_func==''>cur</#if>"  href="/m/jsk3/index.html">江苏快3</a>
<a class="link <#if lottory_func=='kaijiang'>cur</#if>"  href="/m/jsk3/kaijiang/index.html">历史开奖号码</a>
<a class="link <#if lottory_func=='shipin'>cur</#if>"  href="/m/jsk3/shipin/index.html">开奖视频</a>
<a class="link <#if lottory_func=='yilou'>cur</#if>"  href="/m/jsk3/yilou/index.html">号码遗漏统计</a>
<a class="link <#if lottory_func=='haomaluzhu'>cur</#if>"  href="/m/jsk3/haomaluzhu/index.html">号码路珠</a>
<a class="link <#if lottory_func=='zongheluzhu'>cur</#if>"  href="/m/jsk3/zongheluzhu/index.html">总和路珠</a>
<a class="link <#if lottory_func=='haomatongji'>cur</#if>"  href="/m/jsk3/haomatongji/index.html">历史号码统计</a>
<a class="link <#if lottory_func=='zoushitu'>cur</#if>"  href="/m/jsk3/zoushitu/index.html">横版走势图</a>
<a class="link <#if lottory_func=='jiqiao'>cur</#if>"  href="/m/jsk3/jiqiao/index.html">江苏快3技巧</a>
</div>
</div>
</div>